{% load staticfiles %}


<div class="footer">
    <div class="column">
        <div class="h1">Сервис и помощь</div>
        <ul>
            <li><a href="#">Как сделать заказ</a></li>
            <li><a href="#">Способы оплаты</a></li>
            <li><a href="#">Возврат</a></li>
        </ul>
    </div>
    <div class="column">
        <div class="h1">Правила продажи</div>
        <ul>
            <li><a href="#">Публичная оферта</a></li>
            <li><a href="#">Доставка</a></li>
            <li><a href="#">О компании</a></li>
        </ul>
    </div>
    <div class="column">
        <div class="h1">О нас</div>
        <ul>
            <li><a href="#">Преимущества</a></li>
            <li><a href="#">Франчайзинг</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
    </div>
    <div class="column">
        <a href="{% url "home" %}" class="logo">
            <img src="{% static "images/logo.svg" %}" alt="logo">
        </a>
        <span>&copy;Boffer, 2015 Все права защищены</span>
        <div class="social">
            <a href="#">
                <img src="{% static "images/instagram-icon.png" %}">
            </a>
            <a href="#">
                <img src="{% static "images/facebook-icon.png" %}">
            </a>
            <a href="#">
                <img src="{% static "images/vk-icon.png" %}">
            </a>
        </div>
    </div>
    <div class="clear"></div>
</div>
