{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Boffer{% endblock %}</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" type="text/css" href="{% static "css/jquery.bxslider.css" %}">
</head>
<body>
{% block content %}{% endblock %}
	<div class="block_seven">
        {% include "_footer.html" %}
	</div>
	<div class="pop-up">
		<div class="new-auction pop-up-element" id="buyer-window">
			<div class="close"></div>
			<div class="h1">Новый аукцион</div>
			<div class="h2">Что вы хотите купить?</div>
			<div class="pop-up-container">
				<a href="#" class="button new-auction-button" id="auto-details-buyer">Автозапчасти</a>
				<a href="#" class="button new-auction-button" id="wheel-buyer">Шины и диски</a>
			</div>
		</div>
		<div class="new-auction-auto-details pop-up-element" id="buyer-auto-detail">
			<div class="close"></div>
			<div class="h1">Новый аукцион</div>
			<div class="container">
				<div class="column">
					<div class="container-img">
						<img src="{% static "images/auction-car-icon.png" %}" class="norm">
						<img src="{% static "images/auction-green-car-icon.png" %}" class="hover">
					</div>
					<span>Выбор авто</span>
				</div>
				<div class="line"></div>
				<div class="column">
					<div class="container-img">
						<img src="{% static "images/auction-piston-icon.png" %}" class="norm">
						<img src="{% static "images/auction-black-piston-icon.png" %}" class="hover">
					</div>
					<span>Выбор запчастей</span>
				</div>
				<div class="line"></div>
				<div class="column">
					<div class="container-img">
						<img src="{% static "images/auction-car-tool-icon.png" %}" class="norm">
						<img src="{% static "images/auction-black-brand-icon.png" %}" class="hover">
					</div>
					<span>Производитель</span>
				</div>
			</div>
			<ul class="pop-up-window">
				<li class="pop-up-enable">
					<div class="h3">Выберите марку автомобиля</div>
					<div class="h4">Выбрать автомобиль можно с помощью WIN номера, либо вручную по марке авто.</div>
					<form class="search-win">
						<div class="table">
							<div class="top-table">
								<div class="center automobile-tabs">
									<a href="#" class="win-link alt-link enable-link" data-name="win">WIN номер <div class="pseudo-link"></div></a>
									<a href="#" class="lable-link alt-link disable-link" data-name="lable">Марка авто <div class="pseudo-link"></div></a>
									<div class="clear"></div>
								</div>
							</div>
							<div class="bottom-table">
								<div class="win tabs enable-tabs">
									<input type="text" placeholder="Поиск по WIN номеру..." class="field">
								</div>
								<div class="lable tabs disable-tabs">

									<div class="select-container">
										<span>Марка:</span>
										<input type="text" placeholder="Выберите марку" id="carInput"  class="filter">
										<ul class="select-list" id="cars">

										</ul>
									</div>
									<div class="select-container">
										<span>Модель:</span>
										<input type="text" placeholder="Выберите модель" id="modelsInput" disabled class="in filter">
										<ul class="select-list" id="models">

										</ul>
									</div>
									<div class="select-container">
										<span>Тип двигателя:</span>
																		<input type="text" placeholder="Выберите тип двигателя" id="typesInput" disabled class="filter">
																		<ul class="select-list" id="types">

																		</ul>
																	</div>
									<div class="clear"></div>
								</div>
							</div>
						</div>
					</form>
					<input type="submit" value="Далее" class="next-button">
				</li>
				<li  class="pop-up-disable">
					<div class="table">
						<div class="top-table no-margin">
							<div class="center automobile-tabs">
								<a href="#" class="win-link alt-link enable-link" data-name="select-autodetail">Выбор автозапчастей<div class="pseudo-link"></div></a>
								<a href="#" class="lable-link alt-link disable-link" data-name="selected-autodetail">Выбранные <div class="detail-counter js-disable">0</div> <div class="pseudo-link"></div></a>
								<div class="clear"></div>
							</div>
						</div>
						<div class="bottom-table no-padding">
							<div class="tabs enable-tabs select-autodetail">
                                {% comment %}
								<!-- <div class="h3">Выберите автозапчасти</div> -->
								<!-- <form class="search-autodetail">
									<div class="select-container left">
										<input type="text" placeholder="Выберите часть кузова" class="filter  carcass">
										<ul class="select-list">
											<li><span>Шасси</span></li>
										</ul>
									</div>
									<div class="select-container right">
										<input type="text" placeholder="Выберите автозапчасть" class="filter">
										<ul class="select-list">
											<li><span>Суппорт</span></li>
										</ul>
									</div>
									<input type="submit" class="search-submit" value="Поиск">
								</form> -->
                                {% endcomment %}
								<div class="left-column list-menu" id="root_menu">
									<ul class="nasting">
										<li class="list-element">
											<span>Внутренняя отделка</span>
											<ul class="nasting">
												<li class="list-element disable">
													<span>Багажник/помещение для груза</span>
													<ul class="nasting">
														<li class="list-element disable">
															<div><a href="#">Пружина газовая крышки багажника</a></div>
														</li>
													</ul>
												</li>
												<li class="list-element disable">
													<span>Подъемное устройство для окон</span>
													<ul class="nasting">
														<li class="list-element disable">
															<div><a href="#">Подъемное устройство для окон</a></div>
														</li>
													</ul>
												</li>
												<li class="list-element disable">
													<span>Подъемный механизм с верхним/нижним приводом</span>
													<ul class="nasting">
														<li class="list-element disable">
															<div><a href="#">Выключатель на кнопке рулевого управления</a></div>
															<div><a href="#">Мигающий указатель</a></div>
															<div><a href="#">Педальная накладка, педаль тормоз</a></div>
														</li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="list-element">
											<span>Внутренняя отделка</span>
											<ul class="nasting">
												<li class="list-element disable">
													<span>Багажник/помещение для груза</span>
													<ul class="nasting">
														<li class="list-element disable">
															<div><a href="#">Пружина газовая крышки багажника</a></div>
														</li>
													</ul>
												</li>
												<li class="list-element disable">
													<span>Подъемное устройство для окон</span>
													<ul class="nasting">
														<li class="list-element disable">
															<div><a href="#">Подъемное устройство для окон</a></div>
														</li>
													</ul>
												</li>
												<li class="list-element disable">
													<span>Подъемный механизм с верхним/нижним приводом</span>
													<ul class="nasting">
														<li class="list-element disable">
															<div><a href="#">Выключатель на кнопке рулевого управления</a></div>
															<div><a href="#">Мигающий указатель</a></div>
															<div><a href="#">Педальная накладка, педаль тормоз</a></div>
														</li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="list-element">
											<span>Внутренняя отделка</span>
											<ul class="nasting">
												<li class="list-element disable">
													<span>Багажник/помещение для груза</span>
													<ul class="nasting">
														<li class="list-element disable">
															<div><a href="#">Пружина газовая крышки багажника</a></div>
														</li>
													</ul>
												</li>
												<li class="list-element disable">
													<span>Подъемное устройство для окон</span>
													<ul class="nasting">
														<li class="list-element disable">
															<div><a href="#">Подъемное устройство для окон</a></div>
														</li>
													</ul>
												</li>
												<li class="list-element disable">
													<span>Подъемный механизм с верхним/нижним приводом</span>
													<ul class="nasting">
														<li class="list-element disable">
															<div><a href="#">Выключатель на кнопке рулевого управления</a></div>
															<div><a href="#">Мигающий указатель</a></div>
															<div><a href="#">Педальная накладка, педаль тормоз</a></div>
														</li>
													</ul>
												</li>
											</ul>
										</li>
									</ul>
								</div>
								<div class="right-column">
									<div class="h4">Выберите запчасть из интересующей вас категории слева.</div>
									<ul class="select-details-wrapper select-details" id="details">
										<li class="demo">
											<div class="img-wrap">
												<img src="{% static "images/image-1.jpg" %}">
											</div>
											<div class="text-wrap">
												<span>Гидравлический маслянный фильтр №207500</span>
												<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
											</div>
											<div class="choos-button choos-disable">Выбрать</div>
										</li>
									</ul>
								</div>
								<div class="clear"></div>
							</div>
							<div class="tabs selected-autodetail disable-tabs">
								<div class="h3">Выбранные автозапчасти</div>
								<ul class="select-details-wrapper selected-details">
									<div class="h4">Выберите интересующие вас запчасти во вкладке "Выбор автозапчастей".</div>
								</ul>
							</div>
						</div>
					</div>
					<input type="submit" value="Далее" class="next-button">
					<a href="#" class="cansel">Отменить</a>
				</li>
				<li class="pop-up-disable">
					<div class="h3">Выберите производителя</div>
					<div class="table">
						<div class="bottom-table">
							<ul class="select-details-wrapper all-tab">
								<li>
									<div class="img-wrap">
										<img src="{% static "images/image-5.jpg" %}">
									</div>
									<div class="text-wrap">
										<span>Гидравлический не маслянный фильтр №207500</span>
										<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
									</div>
									<div class="check-wrap">
										<div class="check-element">
											<div class="checked check-disable"><img src="{% static "images/check.png" %}"></div>
											<span>Оригинал</span>
										</div>
										<div class="check-element">
											<div class="checked check-disable manuf-check"><img src="{% static "images/check.png" %}"></div>
											<span>Контракт</span>
											<div class="manuf-wrap">
												<a href="#" class="country js-disable"></a>
												<img src="" class="country-img">
											</div>
										</div>
										<div class="check-element">
											<div class="checked check-disable"><img src="{% static "images/check.png" %}"></div>
											<span>В наличии</span>
										</div>
										<div class="check-element">
											<div class="checked check-disable"><img src="{% static "images/check.png" %}"></div>
											<span>Под заказ</span>
										</div>
									</div>
								</li>
								<li>
									<div class="img-wrap">
										<img src="{% static "images/image-5.jpg" %}">
									</div>
									<div class="text-wrap">
										<span>Гидравлический не маслянный фильтр №207500</span>
										<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
									</div>
									<div class="check-wrap">
										<div class="check-element">
											<div class="checked check-disable"><img src="{% static "images/check.png" %}"></div>
											<span>Оригинал</span>
										</div>
										<div class="check-element">
											<div class="checked check-disable manuf-check"><img src="{% static "images/check.png" %}"></div>
											<span>Контракт</span>
											<div class="manuf-wrap">
												<a href="#" class="country js-disable"></a>
												<img src="" class="country-img">
											</div>
										</div>
										<div class="check-element">
											<div class="checked check-disable"><img src="{% static "images/check.png" %}"></div>
											<span>В наличии</span>
										</div>
										<div class="check-element">
											<div class="checked check-disable"><img src="{% static "images/check.png" %}"></div>
											<span>Под заказ</span>
										</div>
									</div>
								</li>
								<li>
									<div class="img-wrap">
										<img src="{% static "images/image-5.jpg" %}">
									</div>
									<div class="text-wrap">
										<span>Гидравлический не маслянный фильтр №207500</span>
										<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
									</div>
									<div class="check-wrap">
										<div class="check-element">
											<div class="checked check-disable"><img src="{% static "images/check.png" %}"></div>
											<span>Оригинал</span>
										</div>
										<div class="check-element">
											<div class="checked check-disable manuf-check"><img src="{% static "images/check.png" %}"></div>
											<span>Контракт</span>
											<div class="manuf-wrap">
												<a href="#" class="country js-disable"></a>
												<img src="" class="country-img">
											</div>
										</div>
										<div class="check-element">
											<div class="checked check-disable"><img src="{% static "images/check.png" %}"></div>
											<span>В наличии</span>
										</div>
										<div class="check-element">
											<div class="checked check-disable"><img src="{% static "images/check.png" %}"></div>
											<span>Под заказ</span>
										</div>
									</div>
								</li>
								<li>
									<div class="img-wrap">
										<img src="{% static "images/image-5.jpg" %}">
									</div>
									<div class="text-wrap">
										<span>Гидравлический не маслянный фильтр №207500</span>
										<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
									</div>
									<div class="check-wrap">
										<div class="check-element">
											<div class="checked check-disable"><img src="{% static "images/check.png" %}"></div>
											<span>Оригинал</span>
										</div>
										<div class="check-element">
											<div class="checked check-disable manuf-check"><img src="{% static "images/check.png" %}"></div>
											<span>Контракт</span>
											<div class="manuf-wrap">
												<a href="#" class="country js-disable"></a>
												<img src="" class="country-img">
											</div>
										</div>
										<div class="check-element">
											<div class="checked check-disable"><img src="{% static "images/check.png" %}"></div>
											<span>В наличии</span>
										</div>
										<div class="check-element">
											<div class="checked check-disable"><img src="{% static "images/check.png" %}"></div>
											<span>Под заказ</span>
										</div>
									</div>
								</li>
								<li>
									<div class="img-wrap">
										<img src="{% static "images/image-5.jpg" %}">
									</div>
									<div class="text-wrap">
										<span>Гидравлический не маслянный фильтр №207500</span>
										<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
									</div>
									<div class="check-wrap">
										<div class="check-element">
											<div class="checked check-disable"><img src="{% static "images/check.png" %}"></div>
											<span>Оригинал</span>
										</div>
										<div class="check-element">
											<div class="checked check-disable manuf-check"><img src="{% static "images/check.png" %}"></div>
											<span>Контракт</span>
											<div class="manuf-wrap">
												<a href="#" class="country js-disable"></a>
												<img src="" class="country-img">
											</div>
										</div>
										<div class="check-element">
											<div class="checked check-disable"><img src="{% static "images/check.png" %}"></div>
											<span>В наличии</span>
										</div>
										<div class="check-element">
											<div class="checked check-disable"><img src="{% static "images/check.png" %}"></div>
											<span>Под заказ</span>
										</div>
									</div>
								</li>
								<li>
									<div class="img-wrap">
										<img src="{% static "images/image-5.jpg" %}">
									</div>
									<div class="text-wrap">
										<span>Гидравлический не маслянный фильтр №207500</span>
										<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
									</div>
									<div class="check-wrap">
										<div class="check-element">
											<div class="checked check-disable"><img src="{% static "images/check.png" %}"></div>
											<span>Оригинал</span>
										</div>
										<div class="check-element">
											<div class="checked check-disable manuf-check"><img src="{% static "images/check.png" %}"></div>
											<span>Контракт</span>
											<div class="manuf-wrap">
												<a href="#" class="country js-disable"></a>
												<img src="" class="country-img">
											</div>
										</div>
										<div class="check-element">
											<div class="checked check-disable"><img src="{% static "images/check.png" %}"></div>
											<span>В наличии</span>
										</div>
										<div class="check-element">
											<div class="checked check-disable"><img src="{% static "images/check.png" %}"></div>
											<span>Под заказ</span>
										</div>
									</div>
								</li>
								<li>
									<div class="img-wrap">
										<img src="{% static "images/image-5.jpg" %}">
									</div>
									<div class="text-wrap">
										<span>Гидравлический не маслянный фильтр №207500</span>
										<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
									</div>
									<div class="check-wrap">
										<div class="check-element">
											<div class="checked check-disable"><img src="{% static "images/check.png" %}"></div>
											<span>Оригинал</span>
										</div>
										<div class="check-element">
											<div class="checked check-disable manuf-check"><img src="{% static "images/check.png" %}"></div>
											<span>Контракт</span>
											<div class="manuf-wrap">
												<a href="#" class="country js-disable"></a>
												<img src="" class="country-img">
											</div>
										</div>
										<div class="check-element">
											<div class="checked check-disable"><img src="{% static "images/check.png" %}"></div>
											<span>В наличии</span>
										</div>
										<div class="check-element">
											<div class="checked check-disable"><img src="{% static "images/check.png" %}"></div>
											<span>Под заказ</span>
										</div>
									</div>
								</li>
								<li>
									<div class="img-wrap">
										<img src="{% static "images/image-5.jpg" %}">
									</div>
									<div class="text-wrap">
										<span>Гидравлический не маслянный фильтр №207500</span>
										<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
									</div>
									<div class="check-wrap">
										<div class="check-element">
											<div class="checked check-disable"><img src="{% static "images/check.png" %}"></div>
											<span>Оригинал</span>
										</div>
										<div class="check-element">
											<div class="checked check-disable manuf-check"><img src="{% static "images/check.png" %}"></div>
											<span>Контракт</span>
											<div class="manuf-wrap">
												<a href="#" class="country js-disable"></a>
												<img src="" class="country-img">
											</div>
										</div>
										<div class="check-element">
											<div class="checked check-disable"><img src="{% static "images/check.png" %}"></div>
											<span>В наличии</span>
										</div>
										<div class="check-element">
											<div class="checked check-disable"><img src="{% static "images/check.png" %}"></div>
											<span>Под заказ</span>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<input type="submit" value="Создать аукцион" class="next-button">
					<a href="#" class="cansel">Отменить</a>
				</li>
				<li class="pop-up-disable">
					<div class="h3">Осталось еще немного, вам требуется войти или зарегистрироваться</div>
					<div class="registration-block last-column">
						<span>У вас уже есть аккаунт?</span>
						<form>
							<input type="text" placeholder="Введите ваш E-mail">
							<input type="password" placeholder="Пароль">
							<input type="submit" value="Вход" class="submit-last">
							<a href="#">Забыли пароль?</a>
						</form>
						<div class="social">
							<span>Войти с помощью:</span>
							<a href="#"><img src="{% static "images/auction-twitter-icon.png" %}"></a>
							<a href="#"><img src="{% static "images/auction-facebook-icon.png" %}"></a>
							<a href="#"><img src="{% static "images/auction-google-icon.png" %}"></a>
							<a href="#"><img src="{% static "images/auction-vk-icon.png" %}"></a>
						</div>
					</div>
					<div class="autarisation-block last-column">
						<span>Вы у нас первый раз?</span>
						<form>
							<input type="text" placeholder="Как вас зовут?">
							<input type="text" placeholder="Введите ваш E-mail">
							<input type="password" placeholder="Введи ваш пароль">
							<input type="submit" value="Регистрация" class="submit-last registration-pop-up">
							<div class="wrap">
								<span>Нажимая на кнопку "Регистрация", я соглашаюсь с </span><a href="#">правилами сервиса</a>
							</div>
						</form>

					</div>
					<div class="clear"></div>
				</li>
			</ul>
		</div>
		<div class="new-auction-wheel pop-up-element" id="buyer-wheel">
			<div class="close"></div>
			<div class="h1">Новый аукцион</div>
			<div class="container">
				<div class="column">
					<div class="container-img">
						<img src="{% static "images/auction-wheel-icon.png" %}" class="norm">
						<img src="{% static "images/auction-green-wheel-icon.png" %}" class="hover">
					</div>
					<span>Выбор колес</span>
				</div>
				<div class="line"></div>
				<div class="column">
					<div class="container-img">
						<img src="{% static "images/auction-car-tool-icon.png" %}" class="norm">
						<img src="{% static "images/auction-black-brand-icon.png" %}" class="hover">
					</div>
					<span>Производитель</span>
				</div>
			</div>
			<ul class="pop-up-window">
				<li class="pop-up-enable">
					<div class="h3">Характеристики шин или дисков</div>
					<div class="h4">Выберите характеристики шин или дисков для покупки</div>
					<div class="table">
						<div class="top-table">
							<a href="#" class="bus-link">Шины</a>
							<a href="#" class="drives-link">Диски</a>
						</div>
						<div class="bottom-table">
							<ul class="select-wheel-wrapper">
								<li class="bus">
									<form>
										<div class="select-container">
											<span>Сезон:</span>
											<input type="text" placeholder="Cезон" class="filter">
											<ul class="select-list">
												<li><span>Зима</span></li>
												<li><span>Лето</span></li>
											</ul>
										</div>
										<div class="select-container">
											<span>Ширина:</span>
											<input type="text" placeholder="Ширина" class="filter">
											<ul class="select-list">
												<li><span>275 мм</span></li>
												<li><span>265мм</span></li>
											</ul>
										</div>
										<div class="select-container">
											<span>Радиус:</span>
											<input type="text" placeholder="Радиус" class="filter">
											<ul class="select-list">
												<li><span>R18</span></li>
												<li><span>R16</span></li>
											</ul>
										</div>
										<div class="select-container">
											<span>Профиль:</span>
											<input type="text" placeholder="Профиль" class="filter">
											<ul class="select-list">
												<li><span>Низкий</span></li>
												<li><span>Стандартный</span></li>
											</ul>
										</div>
									</form>
								</li>
								<li class="drives">
									<form>
										<div class="select-container">
											<span>Тип материала:</span>
											<input type="text" placeholder="Тип материала" class="filter">
											<ul class="select-list">
												<li><span>Кованный</span></li>
												<li><span>Литой</span></li>
											</ul>
										</div>
										<div class="select-container">
											<span>Ширина:</span>
											<input type="text" placeholder="Ширина" class="filter">
											<ul class="select-list">
												<li><span>275 мм</span></li>
												<li><span>275 мм</span></li>
											</ul>
										</div>
										<div class="select-container">
											<span>Радиус:</span>
											<input type="text" placeholder="Радиус" class="filter">
											<ul class="select-list">
												<li><span>R18</span></li>
												<li><span>R16</span></li>
											</ul>
										</div>
									</form>
								</li>
							</ul>
						</div>
					</div>
					<input type="submit" value="Далее" class="next-button">
				</li>
				<li class="pop-up-disable">
					<div class="h3">Выберите производителя</div>
					<div class="table">
						<div class="top-table">
							<a href="#" class="all">Все производители</a>
							<a href="#" class="original">Оригинальные</a>
							<a href="#" class="copy">Копии</a>
						</div>
						<div class="bottom-table">
							<ul class="select-details-wrapper all-tab">
								<li>
									<div class="img-wrap">
										<img src="{% static "images/image-5.jpg" %}">
									</div>
									<div class="text-wrap">
										<span>Гидравлический маслянный фильтр №207500</span>
										<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
									</div>
									<div class="choos-button choos-disable">Выбрать</div>
								</li>
								<li>
									<div class="img-wrap">
										<img src="{% static "images/image-5.jpg" %}">
									</div>
									<div class="text-wrap">
										<span>Гидравлический маслянный фильтр №207500</span>
										<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
									</div>
									<div class="choos-button choos-disable">Выбрать</div>
								</li>
								<li>
									<div class="img-wrap">
										<img src="{% static "images/image-5.jpg" %}">
									</div>
									<div class="text-wrap">
										<span>Гидравлический маслянный фильтр №207500</span>
										<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
									</div>
									<div class="choos-button choos-disable">Выбрать</div>
								</li>
								<li>
									<div class="img-wrap">
										<img src="{% static "images/image-5.jpg" %}">
									</div>
									<div class="text-wrap">
										<span>Гидравлический маслянный фильтр №207500</span>
										<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
									</div>
									<div class="choos-button choos-disable">Выбрать</div>
								</li>
								<li>
									<div class="img-wrap">
										<img src="{% static "images/image-5.jpg" %}">
									</div>
									<div class="text-wrap">
										<span>Гидравлический маслянный фильтр №207500</span>
										<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
									</div>
									<div class="choos-button choos-disable">Выбрать</div>
								</li>
							</ul>
							<ul class="select-details-wrapper original-tab">
								<li>
									<div class="img-wrap">
										<img src="{% static "images/image-6.jpg" %}">
									</div>
									<div class="text-wrap">
										<span>Гидравлический маслянный фильтр №207500</span>
										<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
									</div>
									<div class="choos-button choos-disable">Выбрать</div>
								</li>
								<li>
									<div class="img-wrap">
										<img src="{% static "images/image-5.jpg" %}">
									</div>
									<div class="text-wrap">
										<span>Гидравлический маслянный фильтр №207500</span>
										<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
									</div>
									<div class="choos-button choos-disable">Выбрать</div>
								</li>
								<li>
									<div class="img-wrap">
										<img src="{% static "images/image-5.jpg" %}">
									</div>
									<div class="text-wrap">
										<span>Гидравлический маслянный фильтр №207500</span>
										<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
									</div>
									<div class="choos-button choos-disable">Выбрать</div>
								</li>
								<li>
									<div class="img-wrap">
										<img src="{% static "images/image-5.jpg" %}">
									</div>
									<div class="text-wrap">
										<span>Гидравлический маслянный фильтр №207500</span>
										<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
									</div>
									<div class="choos-button choos-disable">Выбрать</div>
								</li>
								<li>
									<div class="img-wrap">
										<img src="{% static "images/image-5.jpg" %}">
									</div>
									<div class="text-wrap">
										<span>Гидравлический маслянный фильтр №207500</span>
										<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
									</div>
									<div class="choos-button choos-disable">Выбрать</div>
								</li>
							</ul>
							<ul class="select-details-wrapper copy-tab">
								<li>
									<div class="img-wrap">
										<img src="{% static "images/image-7.jpg" %}">
									</div>
									<div class="text-wrap">
										<span>Гидравлический маслянный фильтр №207500</span>
										<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
									</div>
									<div class="choos-button choos-disable">Выбрать</div>
								</li>
								<li>
									<div class="img-wrap">
										<img src="{% static "images/image-5.jpg" %}">
									</div>
									<div class="text-wrap">
										<span>Гидравлический маслянный фильтр №207500</span>
										<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
									</div>
									<div class="choos-button choos-disable">Выбрать</div>
								</li>
								<li>
									<div class="img-wrap">
										<img src="{% static "images/image-5.jpg" %}">
									</div>
									<div class="text-wrap">
										<span>Гидравлический маслянный фильтр №207500</span>
										<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
									</div>
									<div class="choos-button choos-disable">Выбрать</div>
								</li>
								<li>
									<div class="img-wrap">
										<img src="{% static "images/image-5.jpg" %}">
									</div>
									<div class="text-wrap">
										<span>Гидравлический маслянный фильтр №207500</span>
										<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
									</div>
									<div class="choos-button choos-disable">Выбрать</div>
								</li>
								<li>
									<div class="img-wrap">
										<img src="{% static "images/image-5.jpg" %}">
									</div>
									<div class="text-wrap">
										<span>Гидравлический маслянный фильтр №207500</span>
										<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
									</div>
									<div class="choos-button choos-disable">Выбрать</div>
								</li>
							</ul>
						</div>
					</div>
					<input type="submit" value="Создать аукцион" class="next-button">
					<a href="#" class="cansel">Отменить</a>
				</li>
				<li class="pop-up-disable">
					<div class="h3">Осталось еще немного, вам требуется войти или зарегистрироваться</div>
					<div class="registration-block last-column">
						<span>У вас уже есть аккаунт?</span>
						<form>
							<input type="text" placeholder="Введите ваш E-mail">
							<input type="password" placeholder="Пароль">
							<input type="submit" value="Вход" class="submit-last">
							<a href="#">Забыли пароль?</a>
						</form>
						<div class="social">
							<span>Войти с помощью:</span>
							<a href="#"><img src="{% static "images/auction-twitter-icon.png" %}"></a>
							<a href="#"><img src="{% static "images/auction-facebook-icon.png" %}"></a>
							<a href="#"><img src="{% static "images/auction-google-icon.png" %}"></a>
							<a href="#"><img src="{% static "images/auction-vk-icon.png" %}"></a>
						</div>
					</div>
					<div class="autarisation-block last-column">
						<span>Вы у нас первый раз?</span>
						<form>
							<input type="text" placeholder="Как вас зовут?">
							<input type="text" placeholder="Введите ваш E-mail">
							<input type="password" placeholder="Введи ваш пароль">
							<input type="submit" value="Регистрация" class="submit-last registration-pop-up">
							<div class="wrap">
								<span>Нажимая на кнопку "Регистрация", я соглашаюсь с </span><a href="#">правилами сервиса</a>
							</div>
						</form>
					</div>
					<div class="clear"></div>
				</li>
				<li class="pop-up-disable">
					<div class="h3">Осталось еще немного, вам требуется войти или зарегистрироваться</div>
					<div class="registration-block last-column">
						<span>У вас уже есть аккаунт?</span>
						<form>
							<input type="text" placeholder="Введите ваш E-mail">
							<input type="password" placeholder="Пароль">
							<input type="submit" value="Вход" class="submit-last">
							<a href="#">Забыли пароль?</a>
						</form>
						<div class="social">
							<span>Войти с помощью:</span>
							<a href="#"><img src="{% static "images/auction-twitter-icon.png" %}"></a>
							<a href="#"><img src="{% static "images/auction-facebook-icon.png" %}"></a>
							<a href="#"><img src="{% static "images/auction-google-icon.png" %}"></a>
							<a href="#"><img src="{% static "images/auction-vk-icon.png" %}"></a>
						</div>
					</div>
					<div class="autarisation-block last-column">
						<span>Вы у нас первый раз?</span>
						<form>
							<input type="text" placeholder="Как вас зовут?">
							<input type="text" placeholder="Введите ваш E-mail">
							<input type="password" placeholder="Введи ваш пароль">
							<input type="submit" value="Регистрация" class="submit-last registration-pop-up">
							<div class="wrap">
								<span>Нажимая на кнопку "Регистрация", я соглашаюсь с </span><a href="#">правилами сервиса</a>
							</div>
						</form>

					</div>
					<div class="clear"></div>
				</li>
			</ul>
		</div>
		<div class="registration-message">
			<div class="close"></div>
			<div class="h1">Регистрация</div>
			<span>Подтвердите адрес электронной почты, чтобы получить доступ ко всем возможностям сервиса. Письмо для подтверждения было отправленно на адрес ua.iaroslav@gmail.com</span>
			<a href="#">Отправить письмо подтверждения еще раз</a>
		</div>
		<div class="rate pop-up-element">
			<div class="close"></div>
			<div class="auction-detail">
				<div class="img-wrap">
					<img src="{% static "images/image-5.jpg" %}">
				</div>
				<div class="text-wrap">
					<span  class="h5 detaili-name">Гидравлический маслянный фильтр №207500</span>
					<span class="line-str detail-lable">VolksWagen</span>
					<span class="line-str detail-man">Original</span>
					<div class="wrap">
						<span class="line-str detail-date">21.11.15</span>
						<span class="detail-time">Осталось: 38 часов</span>
						<div class="clear"></div>
					</div>
				</div>
				<div class="act-price">
					<span class="top">Актуальная цена</span>
					<span class="bottom">15 345₽</span>
				</div>
			</div>
			<div class="content">
				<div class="detail-top">
					<div class="h6">Последнее предложение</div>
					<table>
						<tr>
							<th class="dt-man">Производитель</th>
							<th class="dt-date">Дата</th>
							<th class="dt-rate">Ставка</th>
							<th class="dt-status"></th>
						</tr>
						<tr>
							<td>Иван Иванов</td>
							<td>15.11.15 в 9.00</td>
							<td>15 345₽</td>
							<td></td>
						</tr>
					</table>
				</div>
				<div class="detail-bottom">
					<div class="h6">Ваше предложение</div>
					<form>
						<div class="container">
							<span>Сумма ставки:</span>
							<input type="text">
						</div>
						<input type="submit" class="button-alt">
					</form>
					<div class="form-alt">
						<table>
							<tr>
								<th class="dt-man">Производитель</th>
								<th class="dt-date">Дата</th>
								<th class="dt-rate">Ставка</th>
								<th class="dt-status"></th>
							</tr>
							<tr>
								<td>Иван Иванов</td>
								<td>15.11.15 в 9.00</td>
								<td class="green">15 345₽</td>
								<td><a href="#" class="dt-delet">Удалить</a></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!--Добавление автозапчастей -->
		<div class="new-auction pop-up-element" id="provider-window">
			<div class="close"></div>
			<!-- <div class="h1">Новый аукцион</div> -->
			<div class="h2">Какой товар вы добавляете?</div>
			<div class="pop-up-container">
				<a href="#" class="button new-auction-button" id="auto-details-provider">Автозапчасти</a>
				<a href="#" class="button new-auction-button" id="wheel-provider">Шины и диски</a>
			</div>
		</div>
		<div class="new-auction-auto-details pop-up-element" id="provider-auto-detail">
					<div class="close"></div>
					<!-- <div class="h1">Новый аукцион</div> -->
					<div class="container">
						<div class="column">
							<div class="container-img">
								<img src="{% static "images/auction-car-icon.png" %}" class="norm">
								<img src="{% static "images/auction-green-car-icon.png" %}" class="hover">
							</div>
							<span>Выбор авто</span>
						</div>
						<div class="line"></div>
						<div class="column">
							<div class="container-img">
								<img src="{% static "images/auction-piston-icon.png" %}" class="norm">
								<img src="{% static "images/auction-black-piston-icon.png" %}" class="hover">
							</div>
							<span>Выбор запчастей</span>
						</div>
						<div class="line"></div>
						<div class="column">
							<div class="container-img">
								<img src="{% static "images/auction-car-tool-icon.png" %}" class="norm">
								<img src="{% static "images/auction-black-brand-icon.png" %}" class="hover">
							</div>
							<span>Производитель</span>
						</div>
					</div>
					<ul class="pop-up-window">
						<li class="pop-up-enable">
							<div class="h3">Выберите марку автомобиля</div>
							<div class="h4">Выбрать автомобиль можно с помощью WIN номера, либо вручную по марке авто.</div>
							<form class="search-win">
								<div class="table">
									<div class="top-table">
										<div class="center automobile-tabs">
											<a href="#" class="win-link alt-link enable-link" data-name="win">WIN номер <div class="pseudo-link"></div></a>
											<a href="#" class="lable-link alt-link disable-link" data-name="lable">Марка авто <div class="pseudo-link"></div></a>
											<div class="clear"></div>
										</div>
									</div>
									<div class="bottom-table">
										<div class="win tabs enable-tabs">
											<input type="text" placeholder="Поиск по WIN номеру..." class="field">
										</div>
										<div class="lable tabs disable-tabs">
											<div class="select-container">
												<span>Год выпуска:</span>
												<input type="text" placeholder="Выберите год" class="filter">
												<ul class="select-list">
													<li><span>2015 год</span></li>
													<li><span>2014 год</span></li>
													<li><span>2013 год</span></li>
													<li><span>2013 год</span></li>
													<li><span>2013 год</span></li>
													<li><span>2013 год</span></li>
													<li><span>2013 год</span></li>
													<li><span>2013 год</span></li>
													<li><span>2013 год</span></li>
												</ul>
											</div>
											<div class="select-container">
												<span>Марка:</span>
												<input type="text" placeholder="Выберите марку" class="filter">
												<ul class="select-list">
													<li><span>VOLKSWAGEN</span></li>
													<li><span>OPEL</span></li>
													<li><span>AUDI</span></li>
												</ul>
											</div>
											<div class="select-container">
												<span>Модель:</span>
												<input type="text" placeholder="Выберите модель" class="in filter">
												<ul class="select-list">
													<li><span>ASTRA</span></li>
													<li><span>TIGUAN</span></li>
													<li><span>TUAREG</span></li>
												</ul>
											</div>
											<div class="clear"></div>
										</div>
									</div>
								</div>
							</form>
							<input type="submit" value="Далее" class="next-button">
						</li>
						<li  class="pop-up-disable">
							<div class="h3">Выберите автозапчасти</div>
							<div class="table">
									<form class="search-autodetail">
									<div class="top-table">
										<div class="select-container left">
											<input type="text" placeholder="Выберите часть кузова" class="filter">
											<ul class="select-list">
												<li><span>Шасси</span></li>
											</ul>
										</div>
										<div class="select-container right">
											<input type="text" placeholder="Выберите автозапчасть" class="filter">
											<ul class="select-list">
												<li><span>Суппорт</span></li>
											</ul>
										</div>
										<input type="submit" class="search-submit" value="Поиск">
									</div>
								</form>
								<div class="bottom-table">
									<ul class="select-details-wrapper">
										<li>
											<div class="img-wrap">
												<img src="{% static "images/image-1.jpg" %}">
											</div>
											<div class="text-wrap">
												<span>Гидравлический маслянный фильтр №207500</span>
												<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
											</div>
											<div class="choos-button choos-disable">Выбрать</div>
										</li>
										<li>
											<div class="img-wrap">
												<img src="{% static "images/image-1.jpg" %}">
											</div>
											<div class="text-wrap">
												<span>Гидравлический маслянный фильтр №207500</span>
												<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
											</div>
											<div class="choos-button choos-disable">Выбрать</div>
										</li>
										<li>
											<div class="img-wrap">
												<img src="{% static "images/image-1.jpg" %}">
											</div>
											<div class="text-wrap">
												<span>Гидравлический маслянный фильтр №207500</span>
												<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
											</div>
											<div class="choos-button choos-disable">Выбрать</div>
										</li>
										<li>
											<div class="img-wrap">
												<img src="{% static "images/image-1.jpg" %}">
											</div>
											<div class="text-wrap">
												<span>Гидравлический маслянный фильтр №207500</span>
												<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
											</div>
											<div class="choos-button choos-disable">Выбрать</div>
										</li>
										<li>
											<div class="img-wrap">
												<img src="{% static "images/image-1.jpg" %}">
											</div>
											<div class="text-wrap">
												<span>Гидравлический маслянный фильтр №207500</span>
												<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
											</div>
											<div class="choos-button choos-disable">Выбрать</div>
										</li>
										<li>
											<div class="img-wrap">
												<img src="{% static "images/image-1.jpg" %}">
											</div>
											<div class="text-wrap">
												<span>Гидравлический маслянный фильтр №207500</span>
												<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
											</div>
											<div class="choos-button choos-disable">Выбрать</div>
										</li>
									</ul>
								</div>
							</div>
							<input type="submit" value="Далее" class="next-button">
							<a href="#" class="cansel">Отменить</a>
						</li>
						<li class="pop-up-disable">
							<div class="h3">Выберите производителя</div>
							<div class="table">
								<div class="top-table">
									<a href="#" class="all">Все производители</a>
									<a href="#" class="original">Оригинальные</a>
									<a href="#" class="copy">Копии</a>
								</div>
								<div class="bottom-table">
									<ul class="select-details-wrapper all-tab">
										<li>
											<div class="img-wrap">
												<img src="{% static "images/image-5.jpg" %}">
											</div>
											<div class="text-wrap">
												<span>Гидравлический не маслянный фильтр №207500</span>
												<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
											</div>
											<div class="choos-button choos-disable">Выбрать</div>
										</li>
										<li>
											<div class="img-wrap">
												<img src="{% static "images/image-5.jpg" %}">
											</div>
											<div class="text-wrap">
												<span>Гидравлический маслянный фильтр №207500</span>
												<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
											</div>
											<div class="choos-button choos-disable">Выбрать</div>
										</li>
										<li>
											<div class="img-wrap">
												<img src="{% static "images/image-5.jpg" %}">
											</div>
											<div class="text-wrap">
												<span>Гидравлический маслянный фильтр №207500</span>
												<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
											</div>
											<div class="choos-button choos-disable">Выбрать</div>
										</li>
										<li>
											<div class="img-wrap">
												<img src="{% static "images/image-5.jpg" %}">
											</div>
											<div class="text-wrap">
												<span>Гидравлический маслянный фильтр №207500</span>
												<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
											</div>
											<div class="choos-button choos-disable">Выбрать</div>
										</li>
										<li>
											<div class="img-wrap">
												<img src="{% static "images/image-5.jpg" %}">
											</div>
											<div class="text-wrap">
												<span>Гидравлический маслянный фильтр №207500</span>
												<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
											</div>
											<div class="choos-button choos-disable">Выбрать</div>
										</li>
									</ul>
									<ul class="select-details-wrapper original-tab">
										<li>
											<div class="img-wrap">
												<img src="{% static "images/image-6.jpg" %}">
											</div>
											<div class="text-wrap">
												<span>Гидравлический маслянный фильтр №207500</span>
												<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
											</div>
											<div class="choos-button choos-disable">Выбрать</div>
										</li>
										<li>
											<div class="img-wrap">
												<img src="{% static "images/image-5.jpg" %}">
											</div>
											<div class="text-wrap">
												<span>Гидравлический маслянный фильтр №207500</span>
												<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
											</div>
											<div class="choos-button choos-disable">Выбрать</div>
										</li>
										<li>
											<div class="img-wrap">
												<img src="{% static "images/image-5.jpg" %}">
											</div>
											<div class="text-wrap">
												<span>Гидравлический маслянный фильтр №207500</span>
												<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
											</div>
											<div class="choos-button choos-disable">Выбрать</div>
										</li>
										<li>
											<div class="img-wrap">
												<img src="{% static "images/image-5.jpg" %}">
											</div>
											<div class="text-wrap">
												<span>Гидравлический маслянный фильтр №207500</span>
												<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
											</div>
											<div class="choos-button choos-disable">Выбрать</div>
										</li>
										<li>
											<div class="img-wrap">
												<img src="{% static "images/image-5.jpg" %}">
											</div>
											<div class="text-wrap">
												<span>Гидравлический маслянный фильтр №207500</span>
												<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
											</div>
											<div class="choos-button choos-disable">Выбрать</div>
										</li>
									</ul>
									<ul class="select-details-wrapper copy-tab">
										<li>
											<div class="img-wrap">
												<img src="{% static "images/image-7.jpg" %}">
											</div>
											<div class="text-wrap">
												<span>Гидравлический маслянный фильтр №207500</span>
												<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
											</div>
											<div class="choos-button choos-disable">Выбрать</div>
										</li>
										<li>
											<div class="img-wrap">
												<img src="{% static "images/image-5.jpg" %}">
											</div>
											<div class="text-wrap">
												<span>Гидравлический маслянный фильтр №207500</span>
												<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
											</div>
											<div class="choos-button choos-disable">Выбрать</div>
										</li>
										<li>
											<div class="img-wrap">
												<img src="{% static "images/image-5.jpg" %}">
											</div>
											<div class="text-wrap">
												<span>Гидравлический маслянный фильтр №207500</span>
												<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
											</div>
											<div class="choos-button choos-disable">Выбрать</div>
										</li>
										<li>
											<div class="img-wrap">
												<img src="{% static "images/image-5.jpg" %}">
											</div>
											<div class="text-wrap">
												<span>Гидравлический маслянный фильтр №207500</span>
												<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
											</div>
											<div class="choos-button choos-disable">Выбрать</div>
										</li>
										<li>
											<div class="img-wrap">
												<img src="{% static "images/image-5.jpg" %}">
											</div>
											<div class="text-wrap">
												<span>Гидравлический маслянный фильтр №207500</span>
												<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
											</div>
											<div class="choos-button choos-disable">Выбрать</div>
										</li>
									</ul>
								</div>
							</div>
							<input type="submit" value="Добавить товар" class="next-button">
							<a href="#" class="cansel">Отменить</a>
						</li>
					</ul>
				</div>
		<div class="new-auction-wheel pop-up-element" id="provider-wheel">
					<div class="close"></div>
					<!-- <div class="h1">Новый аукцион</div> -->
					<div class="container">
						<div class="column">
							<div class="container-img">
								<img src="{% static "images/auction-wheel-icon.png" %}" class="norm">
								<img src="{% static "images/auction-green-wheel-icon.png" %}" class="hover">
							</div>
							<span>Выбор колес</span>
						</div>
						<div class="line"></div>
						<div class="column">
							<div class="container-img">
								<img src="{% static "images/auction-car-tool-icon.png" %}" class="norm">
								<img src="{% static "images/auction-black-brand-icon.png" %}" class="hover">
							</div>
							<span>Производитель</span>
						</div>
					</div>
					<ul class="pop-up-window">
						<li class="pop-up-enable">
							<div class="h3">Характеристики шин или дисков</div>
							<div class="h4">Выберите характеристики шин или дисков для покупки</div>
							<div class="table">
								<div class="top-table">
									<a href="#" class="bus-link">Шины</a>
									<a href="#" class="drives-link">Диски</a>
								</div>
								<div class="bottom-table">
									<ul class="select-wheel-wrapper">
										<li class="bus">
											<form>
												<div class="select-container">
													<span>Сезон:</span>
													<input type="text" placeholder="Cезон" class="filter">
													<ul class="select-list">
														<li><span>Зима</span></li>
														<li><span>Лето</span></li>
													</ul>
												</div>
												<div class="select-container">
													<span>Ширина:</span>
													<input type="text" placeholder="Ширина" class="filter">
													<ul class="select-list">
														<li><span>275 мм</span></li>
														<li><span>265мм</span></li>
													</ul>
												</div>
												<div class="select-container">
													<span>Радиус:</span>
													<input type="text" placeholder="Радиус" class="filter">
													<ul class="select-list">
														<li><span>R18</span></li>
														<li><span>R16</span></li>
													</ul>
												</div>
												<div class="select-container">
													<span>Профиль:</span>
													<input type="text" placeholder="Профиль" class="filter">
													<ul class="select-list">
														<li><span>Низкий</span></li>
														<li><span>Стандартный</span></li>
													</ul>
												</div>
											</form>
										</li>
										<li class="drives">
											<form>
												<div class="select-container">
													<span>Тип материала:</span>
													<input type="text" placeholder="Тип материала" class="filter">
													<ul class="select-list">
														<li><span>Кованный</span></li>
														<li><span>Литой</span></li>
													</ul>
												</div>
												<div class="select-container">
													<span>Ширина:</span>
													<input type="text" placeholder="Ширина" class="filter">
													<ul class="select-list">
														<li><span>275 мм</span></li>
														<li><span>275 мм</span></li>
													</ul>
												</div>
												<div class="select-container">
													<span>Радиус:</span>
													<input type="text" placeholder="Радиус" class="filter">
													<ul class="select-list">
														<li><span>R18</span></li>
														<li><span>R16</span></li>
													</ul>
												</div>
											</form>
										</li>
									</ul>
								</div>
							</div>
							<input type="submit" value="Далее" class="next-button">
						</li>
						<li class="pop-up-disable">
							<div class="h3">Выберите производителя</div>
							<div class="table">
								<div class="top-table">
									<a href="#" class="all">Все производители</a>
									<a href="#" class="original">Оригинальные</a>
									<a href="#" class="copy">Копии</a>
								</div>
								<div class="bottom-table">
									<ul class="select-details-wrapper all-tab">
										<li>
											<div class="img-wrap">
												<img src="{% static "images/image-5.jpg" %}">
											</div>
											<div class="text-wrap">
												<span>Гидравлический маслянный фильтр №207500</span>
												<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
											</div>
											<div class="choos-button choos-disable">Выбрать</div>
										</li>
										<li>
											<div class="img-wrap">
												<img src="{% static "images/image-5.jpg" %}">
											</div>
											<div class="text-wrap">
												<span>Гидравлический маслянный фильтр №207500</span>
												<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
											</div>
											<div class="choos-button choos-disable">Выбрать</div>
										</li>
										<li>
											<div class="img-wrap">
												<img src="{% static "images/image-5.jpg" %}">
											</div>
											<div class="text-wrap">
												<span>Гидравлический маслянный фильтр №207500</span>
												<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
											</div>
											<div class="choos-button choos-disable">Выбрать</div>
										</li>
										<li>
											<div class="img-wrap">
												<img src="{% static "images/image-5.jpg" %}">
											</div>
											<div class="text-wrap">
												<span>Гидравлический маслянный фильтр №207500</span>
												<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
											</div>
											<div class="choos-button choos-disable">Выбрать</div>
										</li>
										<li>
											<div class="img-wrap">
												<img src="{% static "images/image-5.jpg" %}">
											</div>
											<div class="text-wrap">
												<span>Гидравлический маслянный фильтр №207500</span>
												<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
											</div>
											<div class="choos-button choos-disable">Выбрать</div>
										</li>
									</ul>
									<ul class="select-details-wrapper original-tab">
										<li>
											<div class="img-wrap">
												<img src="{% static "images/image-6.jpg" %}">
											</div>
											<div class="text-wrap">
												<span>Гидравлический маслянный фильтр №207500</span>
												<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
											</div>
											<div class="choos-button choos-disable">Выбрать</div>
										</li>
										<li>
											<div class="img-wrap">
												<img src="{% static "images/image-5.jpg" %}">
											</div>
											<div class="text-wrap">
												<span>Гидравлический маслянный фильтр №207500</span>
												<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
											</div>
											<div class="choos-button choos-disable">Выбрать</div>
										</li>
										<li>
											<div class="img-wrap">
												<img src="{% static "images/image-5.jpg" %}">
											</div>
											<div class="text-wrap">
												<span>Гидравлический маслянный фильтр №207500</span>
												<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
											</div>
											<div class="choos-button choos-disable">Выбрать</div>
										</li>
										<li>
											<div class="img-wrap">
												<img src="{% static "images/image-5.jpg" %}">
											</div>
											<div class="text-wrap">
												<span>Гидравлический маслянный фильтр №207500</span>
												<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
											</div>
											<div class="choos-button choos-disable">Выбрать</div>
										</li>
										<li>
											<div class="img-wrap">
												<img src="{% static "images/image-5.jpg" %}">
											</div>
											<div class="text-wrap">
												<span>Гидравлический маслянный фильтр №207500</span>
												<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
											</div>
											<div class="choos-button choos-disable">Выбрать</div>
										</li>
									</ul>
									<ul class="select-details-wrapper copy-tab">
										<li>
											<div class="img-wrap">
												<img src="{% static "images/image-7.jpg" %}">
											</div>
											<div class="text-wrap">
												<span>Гидравлический маслянный фильтр №207500</span>
												<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
											</div>
											<div class="choos-button choos-disable">Выбрать</div>
										</li>
										<li>
											<div class="img-wrap">
												<img src="{% static "images/image-5.jpg" %}">
											</div>
											<div class="text-wrap">
												<span>Гидравлический маслянный фильтр №207500</span>
												<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
											</div>
											<div class="choos-button choos-disable">Выбрать</div>
										</li>
										<li>
											<div class="img-wrap">
												<img src="{% static "images/image-5.jpg" %}">
											</div>
											<div class="text-wrap">
												<span>Гидравлический маслянный фильтр №207500</span>
												<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
											</div>
											<div class="choos-button choos-disable">Выбрать</div>
										</li>
										<li>
											<div class="img-wrap">
												<img src="{% static "images/image-5.jpg" %}">
											</div>
											<div class="text-wrap">
												<span>Гидравлический маслянный фильтр №207500</span>
												<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
											</div>
											<div class="choos-button choos-disable">Выбрать</div>
										</li>
										<li>
											<div class="img-wrap">
												<img src="{% static "images/image-5.jpg" %}">
											</div>
											<div class="text-wrap">
												<span>Гидравлический маслянный фильтр №207500</span>
												<p>Устройство, предназначенное для удаления загрязнений из моторных, трансмиссионных, смазочных масел. Развитие моторостроения было тесно связано и даже в значительной степени</p>
											</div>
											<div class="choos-button choos-disable">Выбрать</div>
										</li>
									</ul>
								</div>
							</div>
							<input type="submit" value="Добавить товар" class="next-button">
							<a href="#" class="cansel">Отменить</a>
						</li>
					</ul>
				</div>
		<!--Конец добавления автозапчастей -->
		<div class="select-provider pop-up-element">
			<div class="close"></div>
			<div class="auction-detail">
				<div class="img-wrap">
					<img src="{% static "images/image-5.jpg" %}">
				</div>
				<div class="text-wrap">
					<span  class="h5 detaili-name">Гидравлический маслянный фильтр №207500</span>
					<span class="line-str detail-lable">VolksWagen</span>
					<span class="line-str detail-man">Original</span>
					<div class="wrap">
						<span class="line-str detail-date">21.11.15</span>
						<span class="detail-time">Осталось: 38 часов</span>
						<div class="clear"></div>
					</div>
				</div>
				<div class="act-price">
					<span class="top">Актуальная цена</span>
					<span class="bottom">15 345₽</span>
				</div>
			</div>
			<div class="h6">Предложения поставщиков</div>
			<div class="content">
				<table>
					<tr>
						<th class="dt-man">Производитель</th>
						<th class="dt-date">Дата</th>
						<th class="dt-rate">Ставка</th>
						<th class="dt-status"></th>
					</tr>
					<tr>
						<td>Иван Иванов</td>
						<td>15.11.15 в 9.00</td>
						<td class="green">15 345₽</td>
						<td><a href="#" class="dt-delet">Удалить</a></td>
					</tr>
					<tr>
						<td>Иван Иванов</td>
						<td>15.11.15 в 9.00</td>
						<td class="green">15 345₽</td>
						<td><a href="#" class="dt-delet">Удалить</a></td>
					</tr>
					<tr>
						<td>Иван Иванов</td>
						<td>15.11.15 в 9.00</td>
						<td class="green">15 345₽</td>
						<td><div class="select-auction-lk "></div></td>
					</tr>
				</table>
			</div>
			<div class="auction-complete button-lk">Завершить аукцион</div>
		</div>
	</div>
	<div class="overlay"></div>
	<div class="manuf-list js-disable">
		<div class="close-button"></div>
		<div class="select-list-element"><span>AD</span><img src="{% static "country/AD.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>AE</span><img src="{% static "country/AE.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>AL</span><img src="{% static "country/AL.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>AM</span><img src="{% static "country/AM.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>AR</span><img src="{% static "country/AR.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>AT</span><img src="{% static "country/AT.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>AU</span><img src="{% static "country/AU.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>BA</span><img src="{% static "country/BA.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>BB</span><img src="{% static "country/BB.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>BE</span><img src="{% static "country/BE.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>BG</span><img src="{% static "country/BG.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>BH</span><img src="{% static "country/BH.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>BJ</span><img src="{% static "country/BJ.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>BR</span><img src="{% static "country/BR.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>BS</span><img src="{% static "country/BS.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>BT</span><img src="{% static "country/BT.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>BY</span><img src="{% static "country/BY.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>BZ</span><img src="{% static "country/BZ.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>CA</span><img src="{% static "country/CA.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>CH</span><img src="{% static "country/CH.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>CL</span><img src="{% static "country/CL.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>CN</span><img src="{% static "country/CN.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>CR</span><img src="{% static "country/CR.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>CU</span><img src="{% static "country/CU.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>CY</span><img src="{% static "country/CY.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>CZ</span><img src="{% static "country/CZ.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>DE</span><img src="{% static "country/DE.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>DK</span><img src="{% static "country/DK.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>DM</span><img src="{% static "country/DM.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>DZ</span><img src="{% static "country/DZ.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>EC</span><img src="{% static "country/EC.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>EE</span><img src="{% static "country/EE.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>EG</span><img src="{% static "country/EG.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>ES</span><img src="{% static "country/ES.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>FI</span><img src="{% static "country/FI.png" %}"><div class="hint">Андорра</div><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>FR</span><img src="{% static "country/FR.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>GB</span><img src="{% static "country/GB.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>GD</span><img src="{% static "country/GD.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>GE</span><img src="{% static "country/GE.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>GI</span><img src="{% static "country/GI.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>GL</span><img src="{% static "country/GL.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>GR</span><img src="{% static "country/GR.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>HK</span><img src="{% static "country/HK.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>HR</span><img src="{% static "country/HR.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>HU</span><img src="{% static "country/HU.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>ID</span><img src="{% static "country/ID.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>IE</span><img src="{% static "country/IE.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>IL</span><img src="{% static "country/IL.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>IN</span><img src="{% static "country/IN.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>IS</span><img src="{% static "country/IS.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>IT</span><img src="{% static "country/IT.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>JM</span><img src="{% static "country/JM.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>JO</span><img src="{% static "country/JO.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>JP</span><img src="{% static "country/JP.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>KR</span><img src="{% static "country/KR.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>KW</span><img src="{% static "country/KW.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>KZ</span><img src="{% static "country/KZ.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>LA</span><img src="{% static "country/LA.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>LB</span><img src="{% static "country/LB.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>LI</span><img src="{% static "country/LI.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>LK</span><img src="{% static "country/LK.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>LU</span><img src="{% static "country/LU.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>LV</span><img src="{% static "country/LV.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>MA</span><img src="{% static "country/MA.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>MC</span><img src="{% static "country/MC.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>MK</span><img src="{% static "country/MK.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>MN</span><img src="{% static "country/MN.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>MT</span><img src="{% static "country/MT.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>MU</span><img src="{% static "country/MU.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>MX</span><img src="{% static "country/MX.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>MY</span><img src="{% static "country/MY.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>NC</span><img src="{% static "country/NC.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>NG</span><img src="{% static "country/NG.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>NL</span><img src="{% static "country/NL.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>NO</span><img src="{% static "country/NO.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>NZ</span><img src="{% static "country/NZ.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>OM</span><img src="{% static "country/OM.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>PA</span><img src="{% static "country/PA.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>PE</span><img src="{% static "country/PE.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>PH</span><img src="{% static "country/PH.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>PL</span><img src="{% static "country/PL.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>PT</span><img src="{% static "country/PT.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>PY</span><img src="{% static "country/PY.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>QA</span><img src="{% static "country/QA.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>RO</span><img src="{% static "country/RO.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>RU</span><img src="{% static "country/RU.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>SA</span><img src="{% static "country/SA.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>SC</span><img src="{% static "country/SC.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>SG</span><img src="{% static "country/SG.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>SI</span><img src="{% static "country/SI.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>SK</span><img src="{% static "country/SK.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>SN</span><img src="{% static "country/SN.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>SR</span><img src="{% static "country/SR.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>SV</span><img src="{% static "country/SV.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>SY</span><img src="{% static "country/SY.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>SZ</span><img src="{% static "country/SZ.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>TH</span><img src="{% static "country/TH.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>TJ</span><img src="{% static "country/TJ.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>TN</span><img src="{% static "country/TN.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>TR</span><img src="{% static "country/TR.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>TW</span><img src="{% static "country/TW.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>UA</span><img src="{% static "country/UA.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>US</span><img src="{% static "country/US.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>UZ</span><img src="{% static "country/UZ.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>VE</span><img src="{% static "country/VE.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>VN</span><img src="{% static "country/VN.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>YE</span><img src="{% static "country/YE.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>ZA</span><img src="{% static "country/ZA.png" %}"><div class="hint">Андорра</div></div>
		<div class="select-list-element"><span>ZW</span><img src="{% static "country/ZW.png" %}"><div class="hint">Андорра</div></div>
	</div>
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="{% static "js/jquery.easypiechart.js" %}"></script>
	<script src="{% static "js/jquery.bxslider.min.js" %}"></script>
	<script src="{% static "js/jquery.nicescroll.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/script.js" %}"></script>
</body>
</html>
