{% extends "user/base.html" %}


{% block personal_content %}
    <div class="head">
        <div class="qur"><span>Текущие</span></div>
        <div class="fin"><span>Завершенные</span><div class="counter">5</div></div>
        <div class="my"><div class="checked off"></div><span>Только мои заявки</span></div>
    </div>
    <ul class="tabs">
        <li class="tab-qur">
            <table class="auction-list-provider">
                <tr>
                    <th class="name">Имя</th>
                    <th class="date">Дата</th>
                    <th class="detail">Запчасть/Тип материала</th>
                    <th class="man">Производитель</th>
                    <th class="price">Лучшая цена</th>
                </tr>
{% for auction in auction_list %}
                <tr>
                    <td>{{ auction.name }}</td>
                    <td>{{ auction.created_at|date:"d.m.Y" }}</td>
                    <td>{{ auction.item }}</td>
                    <td>{{ auction.manufacturer }}</td>
                    <td>Есть заявка</td>
                </tr>
{% endfor %}
            </table>
        </li>
        <li class="tab-fin">
            <table>
                <tr>
                    <th class="name">Имя</th>
                    <th class="date">Дата</th>
                    <th class="detail">Запчасть/Тип материала</th>
                    <th class="man">Производитель</th>
                    <th class="price">Лучшая цена</th>
                </tr>
                <tr>
                    <td>Honda Accord</td>
                    <td>08.09.15</td>
                    <td>Гидравлический маслянный фильтр №0567480</td>
                    <td>Оригинальный производитель VolksWagen Russian group</td>
                    <td>Есть заявка</td>
                </tr>
                <tr>
                    <td>VW, Golf Type-s, 2015</td>
                    <td>08.09.15</td>
                    <td>Гидравлический маслянный фильтр №0567480</td>
                    <td>Оригинальный производитель VolksWagen Russian group</td>
                    <td class="green">Оплачено</td>
                </tr>
                <tr>
                    <td>VW, Golf Type-s, 2015</td>
                    <td>08.09.15</td>
                    <td>Гидравлический маслянный фильтр №0567480</td>
                    <td>Оригинальный производитель VolksWagen Russian group</td>
                    <td class="blue">Товар выдан</td>
                </tr>
                <tr>
                    <td>VW, Golf Type-s, 2015</td>
                    <td>08.09.15</td>
                    <td>Гидравлический маслянный фильтр №0567480</td>
                    <td>Оригинальный производитель VolksWagen Russian group</td>
                    <td>Есть заявка</td>
                </tr>
                <tr>
                    <td>VW, Golf Type-s, 2015</td>
                    <td>08.09.15</td>
                    <td>Гидравлический маслянный фильтр №0567480</td>
                    <td>Оригинальный производитель VolksWagen Russian group</td>
                    <td>Есть заявка</td>
                </tr>
                <tr>
                    <td>VW, Golf Type-s, 2015</td>
                    <td>08.09.15</td>
                    <td>Гидравлический маслянный фильтр №0567480</td>
                    <td>Оригинальный производитель VolksWagen Russian group</td>
                    <td>Есть заявка</td>
                </tr>
                <tr>
                    <td>VW, Golf Type-s, 2015</td>
                    <td>08.09.15</td>
                    <td>Гидравлический маслянный фильтр №0567480</td>
                    <td>Оригинальный производитель VolksWagen Russian group</td>
                    <td>Есть заявка</td>
                </tr>
                <tr>
                    <td>VW, Golf Type-s, 2015</td>
                    <td>08.09.15</td>
                    <td>Гидравлический маслянный фильтр №0567480</td>
                    <td>Оригинальный производитель VolksWagen Russian group</td>
                    <td>Есть заявка</td>
                </tr>
                <tr>
                    <td>VW, Golf Type-s, 2015</td>
                    <td>08.09.15</td>
                    <td>Гидравлический маслянный фильтр №0567480</td>
                    <td>Оригинальный производитель VolksWagen Russian group</td>
                    <td>Есть заявка</td>
                </tr>
                <tr>
                    <td>VW, Golf Type-s, 2015</td>
                    <td>08.09.15</td>
                    <td>Гидравлический маслянный фильтр №0567480</td>
                    <td>Оригинальный производитель VolksWagen Russian group</td>
                    <td>Есть заявка</td>
                </tr>
                <tr>
                    <td>VW, Golf Type-s, 2015</td>
                    <td>08.09.15</td>
                    <td>Гидравлический маслянный фильтр №0567480</td>
                    <td>Оригинальный производитель VolksWagen Russian group</td>
                    <td>Есть заявка</td>
                </tr>
            </table>
        </li>
    </ul>
{% endblock %}
