{% extends "tmpl.html" %}


{% load staticfiles user_tags %}


{% block content %}
	<div class="header-lk">
		<div class="main-wrapper">
			<a href="/" class="logo-short">
				<img src="{% static "images/logo-short.svg" %}">
			</a>
			{% profile_menu %}
			<ul class="select-user">
				<span>{{ request.user.get_display_name }} [<a href="{% url "account_logout" %}">выход</a>]</span>
				<li>Иван Сидоров</li>
				<li>Иван Иванов</li>
				<li>Иван Джугашвили</li>
			</ul>
		</div>
	</div>
	<div class="content">
		<div class="main-wrapper">
            {% block personal_content %}

            {% endblock %}
		</div>
	</div>
{% endblock %}
