{% extends "user/base.html" %}


{% block personal_content %}
    <div class="add-detail-container">
        <div class="add-detail">Добавить товар</div>
        <div class="clear"></div>
    </div>
    <div class="tabs">
        <table>
            <tr>
                <th class="name">Имя</th>
                <th class="date">Дата</th>
                <th class="detail">Запчасть/Тип материала</th>
                <th class="man">Производитель</th>
                <th class="price">Лучшая цена</th>
            </tr>
            <tr>
                <td>VW, Golf Type-s, 2015</td>
                <td>08.09.15</td>
                <td>Гидравлический маслянный фильтр №0567480</td>
                <td>Оригинальный производитель VolksWagen Russian group</td>
                <td><a href="#" class="delete-product">Удалить</a></td>
            </tr>
            <tr>
                <td>VW, Golf Type-s, 2015</td>
                <td>08.09.15</td>
                <td>Гидравлический маслянный фильтр №0567480</td>
                <td>Оригинальный производитель VolksWagen Russian group</td>
                <td>Есть заявка</td>
            </tr>
            <tr>
                <td>VW, Golf Type-s, 2015</td>
                <td>08.09.15</td>
                <td>Гидравлический маслянный фильтр №0567480</td>
                <td>Оригинальный производитель VolksWagen Russian group</td>
                <td>Есть заявка</td>
            </tr>
            <tr>
                <td>VW, Golf Type-s, 2015</td>
                <td>08.09.15</td>
                <td>Гидравлический маслянный фильтр №0567480</td>
                <td>Оригинальный производитель VolksWagen Russian group</td>
                <td>Есть заявка</td>
            </tr>
            <tr>
                <td>VW, Golf Type-s, 2015</td>
                <td>08.09.15</td>
                <td>Гидравлический маслянный фильтр №0567480</td>
                <td>Оригинальный производитель VolksWagen Russian group</td>
                <td>Есть заявка</td>
            </tr>
            <tr>
                <td>VW, Golf Type-s, 2015</td>
                <td>08.09.15</td>
                <td>Гидравлический маслянный фильтр №0567480</td>
                <td>Оригинальный производитель VolksWagen Russian group</td>
                <td>Есть заявка</td>
            </tr>
            <tr>
                <td>VW, Golf Type-s, 2015</td>
                <td>08.09.15</td>
                <td>Гидравлический маслянный фильтр №0567480</td>
                <td>Оригинальный производитель VolksWagen Russian group</td>
                <td>Есть заявка</td>
            </tr>
            <tr>
                <td>VW, Golf Type-s, 2015</td>
                <td>08.09.15</td>
                <td>Гидравлический маслянный фильтр №0567480</td>
                <td>Оригинальный производитель VolksWagen Russian group</td>
                <td>Есть заявка</td>
            </tr>
            <tr>
                <td>VW, Golf Type-s, 2015</td>
                <td>08.09.15</td>
                <td>Гидравлический маслянный фильтр №0567480</td>
                <td>Оригинальный производитель VolksWagen Russian group</td>
                <td>Есть заявка</td>
            </tr>
            <tr>
                <td>VW, Golf Type-s, 2015</td>
                <td>08.09.15</td>
                <td>Гидравлический маслянный фильтр №0567480</td>
                <td>Оригинальный производитель VolksWagen Russian group</td>
                <td>Есть заявка</td>
            </tr>
            <tr>
                <td>VW, Golf Type-s, 2015</td>
                <td>08.09.15</td>
                <td>Гидравлический маслянный фильтр №0567480</td>
                <td>Оригинальный производитель VolksWagen Russian group</td>
                <td>Есть заявка</td>
            </tr>
        </table>
    </div>
{% endblock %}
