{% extends "user/base.html" %}


{% block personal_content %}
    <div class="user-data">
        <div class="h1">Расскажите немного о себе</div>
        <form method="post">
            {% csrf_token %}
{{ form.non_field_errors }}
            <ul>
{% for field in form %}
                <li>
                    <span>{{ field.label }}</span>
                    {{ field }}
                    {{ field.error }}
                    <div class="clear"></div>
                </li>
{% endfor %}
            </ul>
            <input type="submit" value="Сохранить" class="save-user-data button-lk">
        </form>
    </div>
{% endblock %}
