@import url(reset.css);
/*@font-face {
	font-family: OpenSans-Regular;
	src: url(../font/OpenSans-Regular.ttf);
}*/
/*@font-face {
	font-family: OpenSans-Semibold;
	src: url(../font/OpenSans-Semibold.ttf);
}*/
@font-face {
	font-family: OpenSans-Semibold;
	src: url(../font/PFAgoraSansPro/PFAgoraSansPro-Medium.ttf);
}
@font-face {
	font-family: OpenSans-Regular;
	src: url(../font/PFAgoraSansPro/PFAgoraSansPro-Reg.ttf);
}
.clear {
	clear: both;
}
.block_one {
	background: url(../images/header-background.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	height: 850px;
	max-width: 100%;
	min-width: 940px;
}
.main-wrapper {
	width: 940px;
	margin: 0 auto;
}
.header {
	width: 100%;
	margin: 0 auto;
	height: 80px;
	padding-bottom: 20px;
	margin-bottom: 90px;
}
.logo {
	display: block;
}
.block_one .logo {
	float: left;
	margin-top: 20px;
	width: 184px;
	height: 49px;
}
.logo img {
	width: 100%;
	height: 100%;
}
.header-registration {
	float: right;
	height: 16px;
	margin-top: 40px;
}
.header-registration a {
	font-size: 16px;
	font-family: OpenSans-Regular;
	color: #FFFFFF;
	text-decoration: none;
	text-shadow: 1px 1px 1px black;
	margin-right: 20px;
	text-transform: uppercase;
}
.header-registration a:hover {
	text-decoration: underline;
}
.block_one .h1 {
	color: white;
	text-shadow: 1px 1px 1px black;
	font-size: 30px;
	font-family: OpenSans-Regular;
	display: block;
	width: 100%;
	text-align: center;
}
.container {
	width:  100%;
	overflow: hidden;
}
.block_one .column {
	float: left;
	width: 300px;
	height: 257px;
	margin-right: 20px;
	position: relative;
}
.block_one .column:last-child {
	margin-right: 0px;
}
.block_one .column img {
	margin: 0 auto;
	display: block;
	position: absolute;
	top: 46px;
	right: 0;
	bottom: 0;
	left: 0;
}
.block_one .column span {
	margin-top: 194px;
	color: white;
	font-size: 18px;
	font-family: OpenSans-Regular;
	display: block;
	text-align: center;
	line-height: 22px;
}
.button {
	width: 300px;
	height: 42px;
	display: block;
	text-decoration: none;
	text-align: center;
	font-size: 20px;
	text-shadow: 0px 1px 1px;
	font-family: OpenSans-Semibold;
	padding-top: 20px;
	border-radius: 50px;
	text-transform: uppercase;
}
.create-auction {
	background: linear-gradient(to top, #F09819, #F3CB56);
	margin: 108px auto 0 auto;
	color: #323233;
}
.create-auction:hover {
	background: linear-gradient(to top, #FAC67B, #F3CB56);
}
.block_two {
	max-width: 100%;
	min-width: 940px;

}
.block_two, .block_four {
	padding-top: 100px;
}
.block_two .h1, .block_four .h1 {
	color: #4A4A4A;
	font-size: 30px;
	font-family: OpenSans-Semibold;
	width: 600px;
	display: block;
	text-align: center;
	margin: 0px auto 70px auto;
	text-transform: uppercase;
}
.video-present {
	width: 100%;
	height: 190px;
	background: url(../images/video-background.jpg);
	padding-top: 90px;
}
.video-present a {
	height: 58px;
	width: 58px;
	display: block;
	background: url(../images/play-button-normal.png);
	opacity: 0.8;
	margin: 0 auto 0 auto;
}
.video-present a:hover {
	background: url(../images/play-button-hover.png);
}
.block_two .h2 {
	color: white;
	font-size: 18px;
	display: block;
	text-transform: uppercase;
	text-align: center;
	padding-top: 20px;
	font-family: OpenSans-Semibold;
}
.block_two .column {
	width: 220px;
	height: 220px;
	float: left;
	margin-right: 140px;
	margin-top: 70px;
	position: relative;
}
.block_two .column:nth-child(3n) {
	margin-right: 0px;
}
.block_two .column img {
	position: absolute;
	top: 30px;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0 auto;
}
.block_two .column span {
	display: block;
	width: 90%;
	text-align: center;
	color: #323233;
	font-size: 16px;
	font-family: OpenSans-Regular;
	margin: 130px auto 0 auto;
}
.block_three {
	background-size: cover;
	background-position: center;
	max-width: 100%;
	min-width: 940px;
	background: url(../images/statistic-background.jpg);
	padding-top: 134px;
	padding-bottom: 134px;
}
.block_three .logo {
	width: 222px;
	height: 60px;
	margin: 0 auto 0 auto;
}
.block_three .main-wrapper > span {
	display: block;
	color: white;
	font-size: 24px;
	width: 100%;
	text-align: center;
	font-family: OpenSans-Regular;
	text-shadow: 1px 1px 1px black;
	line-height: 30px;
	padding-top: 32px;
	padding-bottom: 44px;
}
.block_three .column {
	float: left;
	width: 220px;
	height: 104px;
	margin-right: 140px;
}
.block_three .column:last-child {
	margin-right: 0;
}
.block_three .column  span{
	display: block;
	width: 100%;
	text-align: center;
}
.block_three .column .top {
	color: white;
	font-family:OpenSans-Regular;
	font-size: 36px;
}
.block_three .column .bottom {
	font-family: OpenSans-Semibold;
	font-size: 16px;
	color: #B8B8B8;
	padding-top: 14px;
	text-transform: uppercase;
}
.block_three .registration {
	background: linear-gradient(to top, #3882D4, #51A3E7);
	color: #FFFFFF;
	text-shadow: 0px 1px 1px;
	margin: 70px auto 0 auto;
}
.block_three .registration:hover {
	background: linear-gradient(to top, #6C9BD0, #51A3E7);
}
.block_four {
	padding-bottom: 140px;
	width: 100%;
}
.block_five {
	padding-bottom: 100px;
	width: 100%;
}
.block_five .left {
	float: left;
	padding-top: 122px;
}
.block_five .banner {
	float: right;
}
.block_five .left .h1 {
	color: #4A4A4A;
	font-size: 30px;
	font-family: OpenSans-Semibold;
	padding-bottom: 34px;
	text-transform: uppercase;
}
.block_five .left .h2 {
	color: #6E6E6E;
	font-size: 24px;
	font-family: OpenSans-Regular;
	padding-bottom: 34px;
}
.block_five .left ul {
	margin-left: 24px;
}
.block_five .left li {
	font-size: 20px;
	color: #323233;
	font-family: OpenSans-Regular;
	padding-bottom: 34px;
	list-style-type: disc;
}
.block_five .social-button a {
	margin-right: 20px;
	opacity: 0.8;
	text-decoration: none;
}
.block_five .social-button a:hover {
	opacity: 1;
}
.block_six {
	width: 100%;
	padding-top: 70px;
	padding-bottom: 70px;
}
.block_six .h1 {
	color: #4A4A4A;
    font-size: 30px;
    font-family: OpenSans-Semibold;
    width: 600px;
    display: block;
    text-align: center;
    margin: 0px auto 30px auto;
}
.block_six span {
	display: block;
	text-align: center;
	color: #4A4A4A;
	font-size: 24px;
	font-family: OpenSans-Regular;
	width: 750px;
	line-height: 28px;
	margin: 0 auto;
	padding-bottom: 50px;
}
.block_six .partner {
	margin: 0 auto 0px auto;
	color: #3882D4;
	border: 2px solid #3882D4;
}
.block_six .partner:hover {
	color: white;
	background: linear-gradient(to top, #3882D4, #3882D4);
}
.block_seven {
	background: #323234;
	width: 100%;
}
.footer {
	width: 940px;
	margin: 0 auto;
	padding-top: 40px;
	height: 224px;
}
.footer .column {
	float: left;
	width: 25%;
}
.footer .h1 {
	color: white;
	font-size: 14px;
	font-family: OpenSans-Regular;
	text-transform: uppercase;
}
.footer li {
	padding-top: 20px;
}
.footer li a {
	color: #888888;
	font-size: 14px;
	font-family: OpenSans-Regular;
	text-decoration: none;
}
.footer .logo {
	width: 209px;
	height: 56px;
}
.footer .column span {
	font-size: 13px;
	font-family: OpenSans-Regular;
	color: #888888;
	opacity: 0.6;
	padding-top: 14px;
	padding-bottom: 20px;
	display: block;
	padding-left: 9px;
}
.footer .social a {
	opacity: 0.3;
	margin-left: 20px;
}
.footer .social a:hover {
	opacity: 1;
}
.slider {
	width: 100%;
	overflow-x: scroll;
}
.slider .column {
	float: left;
	width: 216px;
	height: 324px;
	border: 2px solid #F1F1F1;
	margin-right: 20px;
	margin-bottom: 20px;
}
.diagramma {
	width: 159px;
	height: 159px;
	background: url(../images/diagram-bg.svg) no-repeat;
	background-position: center;
	margin: 30px auto 30px auto;
	padding-top: 1px;
	position: relative;
}
.diagramma span {
	display: block;
	width: 100%;
	text-align: center;
	position: absolute;
}
.diagramma .top {
	font-size: 20px;
	color: #323233;
	font-family: OpenSans-Semibold;
	/*padding-top: 50px;*/
	top: 50px;
}
.diagramma .bottom {
	font-size: 14px;
	color: #323233;
	font-family: OpenSans-Regular;
	/*padding-top: 10px;*/
	top: 80px;
}
.slider .column > .top {
	text-decoration: none;
	color: #22558D;
	font-size: 16px;
}
.slider .column > .middle, .slider .column > .bottom, .slider .column > .top {
	display: block;
	width: 180px;
	margin: 0 auto;
	font-family: OpenSans-Regular;
	line-height: 20px;
}
.slider .left {
	color: #6E6E6E;
	font-size: 14px;
	font-family: OpenSans-Regular;
}
.slider .right {
	color: #323233;
	font-size: 14px;
	font-family: OpenSans-Semibold;
}
.slider li .column:last-child {
	margin-right: 0;
}
.circle {
	/*width: 151px;
	height: 151px;*/
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
.block_two, .block_four, .block_five, .block_six {
	background: url(../images/pattern.png) repeat;
}
.overlay {
	position: absolute;
	width: 100%;
	top: 0;
	background: black;
	opacity: 0.4;
	z-index: 9999;
	display: none;
}
.pop-up {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	width: 960px;
	display: none;
}
.pop-up-element {
	width: 100%;
	position: absolute;
	background: #FFFFFF;
	border-top: 10px solid #FAC51C;
	border-radius: 10px;
	box-shadow: 0px 0px 23px black;
	margin: 0 auto;
	display: none;
	z-index: 99999;
}
.close {
	width: 16px;
	height: 16px;
	background: url(../images/close-icon.png) no-repeat;
	position: absolute;
	top: 8px;
	right: 8px;
	cursor: pointer;
}
.pop-up .h1 {
	width: 100%;
	text-align: center;
	padding-top: 40px;
	/*padding-bottom: 60px;*/
	color: #4A4A4A;
	font-size: 30px;
	font-family: OpenSans-Semibold;
	text-transform: uppercase;
}
.pop-up .h2 {
	width: 100%;
	text-align: center;
	color: #4A4A4A;
	font-size: 30px;
	font-family: OpenSans-Semibold;
	padding-top: 134px;
	padding-bottom: 70px;
}
.pop-up .h3 {
	width: 550px;
	margin: 0 auto;
	text-align: center;
	color: #4A4A4A;
	font-size: 24px;
	font-family: OpenSans-Semibold;
	padding-top: 30px;
	padding-bottom: 14px;
}
.pop-up .h4 {
	color: #3882D4;
	font-size: 16px;
	font-family: OpenSans-Regular;
	display: block;
	text-align: center;
	width: 450px;
	margin: 0 auto;
	line-height: 1.3em;
	padding-bottom: 62px;
}
.new-auction {
	padding-bottom: 284px;
	top: 100px;
}
.pop-up-container {
	padding-left: 80px;
}
.new-auction-button {
	background: linear-gradient(to top, #5594D9, #5594D9);
	color: #FFFFFF;
	float: left;
}
.new-auction-button:first-child {
	margin-right: 180px;
}
.line {
	width: 100px;
	height: 8px;
	background: grey;
	border-radius: 10px;
	margin-top: 40px;
	margin-right: 20px;
	opacity: 0.7;
}
.new-auction-auto-details .container {
	width: 940px;
	margin: 60px auto 0 auto;
}
.new-auction-wheel .container {
	width: 560px;
	margin: 60px auto 0 auto;
}
.new-auction-auto-details .container > div, .new-auction-wheel .container > div {
	float: left;
}
.new-auction-auto-details .column, .new-auction-wheel .column {
	width: 220px;
	height: 161px;
	opacity: 0.7;
}
.new-auction-auto-details .column .container-img, .new-auction-wheel .column .container-img {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	position: relative;
}
.new-auction-auto-details .column .container-img img, .new-auction-wheel .column .container-img img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0 auto;
}
.new-auction-auto-details .column span, .new-auction-wheel .column span {
	display: block;
	text-align: center;
	color: #4A4A4A;
	font-size: 16px;
	font-family: OpenSans-Semibold;
	margin-top: 20px;
}
.table {
	border: 1px solid #E6E6E6;
	margin-bottom: 70px;
	width: 940px;
	margin: 0 auto;
}
.table .top-table {
	height: 54px;
	margin-bottom: 80px;
	border-bottom: 1px solid #E6E6E6;
}
.table .top-table a {
	color: #4A4A4A;
	font-size: 16px;
	font-family: OpenSans-Semibold;
	text-decoration: none;
	/*border-right: 1px solid #E6E6E6;*/
	display: block;
	width: 175px;
	text-align: center;
	float: left;
	padding: 19px 0 19px 0;
}
.table .bottom-table {
	padding-bottom: 70px;
}
.search-win .field {
	display: block;
	width: 620px;
	margin: 0 auto;
	font-size: 16px;
	font-family: OpenSans-Semibold;
	padding: 15px 0px 15px 8px;
	border-radius: 4px;
	border: 1px solid grey;
	outline: none;
}
.next-button, .submit-last {
	width: 300px;
	border: none;
	font-family: OpenSans-Semibold;
	font-size: 20px;
	color: #FFFFFF;
	background: linear-gradient(to top, #5594D9, #5594D9);
	text-transform: uppercase;
	padding: 8px 0 9px 0;
	border-radius: 2px;
	cursor: pointer;
	margin: 70px auto 20px auto;
	display: block;
}
.cansel {
	width: 68px;
	display: block;
	margin: 0 auto 70px auto;
	color: #2662A9;
	font-family: OpenSans-Semibold;
}
.select-container input[type="text"],
.last-column input[type="text"],
.last-column input[type="password"],
.rate input[type="text"],
.user-data input[type="text"] {
	font-size: 16px;
	font-family: OpenSans-Semibold;
	color: #323233;
	padding: 10px 0 10px 8px;
	outline: none;
	border-radius: 3px;
	cursor: pointer;
	border: 1px solid #b8b8b8;
}
.win {
	padding-top: 16px;
}
.lable {
	padding-left: 60px;
}
.enable-tabs {
	display: block;
}
.disable-tabs {
	display: none;
}
.pop-up .select-container {
	float: left;
	position: relative;
}
.pop-up .select-container > span {
	display: block;
	font-size: 16px;
	font-family: OpenSans-Semibold;
	color: #6E6E6E;
	padding-bottom: 8px;
}
.search-autodetail {
	padding-top: 14px;
	padding-bottom: 40px;
}
.search-autodetail .select-container {
	margin-left: 10px;
}
.search-autodetail input[type="text"] {
	width: 100%;
	border: 1px solid grey;
}
.search-autodetail .left {
	width: 280px;
	margin-right: 20px;
}
.search-autodetail .right {
	margin-right: 50px;
	width: 370px;
}
.search-autodetail .right input {
	background: url(../images/search-icon.png) no-repeat 6px 13px;
	padding-left: 30px;
}
.search-autodetail .search-submit {
	width: 180px;
	font-size: 20px;
	text-align: center;
	padding: 8px 0 10px 0;
	border: none;
	font-family: OpenSans-Semibold;
	color: #FFFFFF;
	background: linear-gradient(to top, #5594D9, #5594D9);
	border-radius: 3px;
	cursor: pointer;
}
.select-details-wrapper li div {
	float: left;
}
.select-details-wrapper {
	max-height: 711px;
	min-height: 60px;
	/*overflow-y: auto; */
	position: relative;
}
.select-details-wrapper li {
	width: 912px;
	margin: 0 auto;
	height: 140px;
	overflow: hidden;
	padding-top: 12px;
	padding-bottom: 5px;
	border-bottom: 1px solid #E6E6E6;
	background: white;
	position: relative;
	z-index: 9999;
}
.select-details-wrapper li div, .select-details-wrapper li span, .select-details-wrapper li p {
	transition: 0.5s;
}
.select-details-wrapper .h4 {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.img-wrap {
	width: 130px;
	height: 130px;
}
.img-wrap img {
	width: 100%;
}
.text-wrap {
	width: 471px;
	padding-left: 20px;
	padding-right: 135px;
}
.text-wrap span {
	color: #4A4A4A;
	font-size: 20px;
	font-family: OpenSans-Semibold;
	line-height: 1.4em;
	padding-bottom: 8px;
	display: block;
}
.text-wrap p {
	color: #6E6E6E;
	font-size: 16px;
	font-family: OpenSans-Regular;
	line-height: 1.3em;
}
.choos-button {
	font-size: 16px;
	font-family: OpenSans-Semibold;
	border-radius: 100px;
	width: 140px;
	height: 32px;
	padding-top: 14px;
	text-align: center;
	cursor: pointer;
	margin-top: 44px;
	text-transform: uppercase;
}
.choos-disable {
	border: 1px solid #D8D8D8;
	color: #5594D9;
}
.choos-enable {
	background: linear-gradient(to top, #5594D9, #5594D9);
	color: #FFFFFF;
}
.pop-up-enable {
	display: block;
}
.pop-up-disable {
	display: none;
}
.hover {
	display: none;
}
.all-tab {
	display: block;
}
.original-tab {
	display: none;
}
.copy-tab {
	display: none;
}
.last-column {
	width: 300px;
	padding: 51px 88px 0 88px;
	float: left;
	margin-bottom: 100px;
}
.last-column > span {
	color: #4A4A4A;
	font-family: OpenSans-Semibold;
	font-size: 20px;
	display: block;
	width: 100%;
	text-align: center;
}
.last-column input[type="text"], .last-column input[type="password"] {
	width: 290px;
	border: 1px solid grey;
	margin-top: 26px;
}
.submit-last {
	margin-top: 26px;
}
.last-column form {
	text-align: center;
}
.last-column form .wrap {
	width: 250px;
	margin: 0 auto;
}
.last-column form a {
	color: #335177;
	font-size: 14px;
	font-family: OpenSans-Regular;
	margin-bottom: 14px;
	display: inline-block;
}
.last-column form span {
	color: #7D7D7D;
	font-size: 14px;
	font-family: OpenSans-Regular;
}
.last-column .social span {
	display: block;
	text-align: center;
	color: #6E6E6E;
	font-family: OpenSans-Semibold;
	font-size: 16px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px dashed #E6E6E6;
}
.registration-block {
	border-right: 1px solid #E6E6E6;
}
.registration-block .social {
	overflow: hidden;
}
.registration-block .social a {
	display: block;
	float: left;
	width: 46px;
	height: 46px;
	margin-right: 15px;
	margin-left: 15px;
}
.registration-block .social a img {
	width: 100%;
}
.registration-block .social a:last-child {
	margin-right: 0;
}
.registration-message {
	width: 520px;
	position: absolute;
	background: #FFFFFF;
	border-top: 10px solid #FAC51C;
	border-radius: 10px;
	box-shadow: 0px 0px 23px black;
	margin: 0 auto;
	top: 0;
	right: 0;
	left: 0;
	display: none;
	z-index: 99999;
}
.registration-message span {
	display: block;
	text-align: center;
	color: #4A4A4A;
	font-size: 16px;
	font-family: OpenSans-Regular;
	width: 380px;
	margin: 0 auto;
}
.registration-message a {
	margin: 0 auto;
	width: 358px;
	display: block;
	text-align: center;
	font-size: 16px;
	font-family: OpenSans-Semibold;
	margin-top: 40px;
	margin-bottom: 86px;
	text-decoration: none;
	color: #235588;
	border-bottom: 1px dashed #235588;
	padding-bottom: 2px;
}
.select-wheel-wrapper li {
	width: 100%;
	/*overflow: hidden;*/
}
.bus {
	padding-left: 60px;
}
.bus .select-container {
	width: 180px;
	margin-right: 33px;
}
.bus form:last-child {
	margin-right: 0;
}
.bus input {
	width: 100%;
	border: 1px solid grey;
}
.drives {
	padding-left: 60px;
	display: none;
}
.drives .select-container {
	width: 241px;
	margin-right: 48px;
}
.drives form:last-child {
	margin-right: 0;
}
.drives input {
	border: 1px solid grey;
}
.select-list {
	display: none;
	z-index: 99999;
}
.lable input {
	border: 1px solid grey;
	width: 100%;
}
.lable .select-container  {
	margin-right: 48px;
	width: 241px;
}
.lable:last-child {
	margin-right: 0;
}
.select-list {
	width: 100%;
	position: absolute;
	background: linear-gradient(to top, #FFFFFF, #FFFFFF);
	box-shadow: 0px 2px 10px #B8B8B8;
	max-height: 212px;
	overflow-y: auto;
}
.select-list li {
	width: 100%;
	border-bottom: 1px solid #B8B8B8;
	height: 54px;
	display: block;
	cursor: pointer;
}
.select-list li span {
	display: table-cell;
	vertical-align: middle;
	height: 54px;
	width: 100%;
	padding-left: 8px;
	color: #323233;
	font-size: 16px;
	font-family: OpenSans-Regular;
}
input {
	box-sizing: border-box;
}
.header-lk {
	height: 56px;
	background: linear-gradient(to top, #222222, #222222);
}
.select-user li {
	display: none;
}
.logo-short, .header-menu, .header-menu li {
	float: left;
}
.select-user {
	float: right;
}
.logo-short {
	margin-top: 11px;
}
.header-menu, .select-user span {
	font-family: OpenSans-Semibold;
	font-size: 16px;
	color: white;
	line-height: 20px;

}
.header-lk ul {
	padding-top: 18px;
}
.header-menu {
	padding-left: 38px;
}
.header-menu li {
	margin: 0 15px 0 15px;
	cursor: pointer;
}
.header-menu li a {
	text-decoration: none;
	color: white;
}
.lk-active {
	color: #FAC51C;
	border-bottom: 3px solid #FAC51C;
	padding-bottom: 19px;
	margin: 0px !important;
	padding: 0px 15px 15px 15px;
	cursor: default !important;
}
.lk-active a {
	color: #FAC51C !important;
}
.content .name {
	width: 150px;
}
.content .date {
	width: 160px;
}
.content .detail {
	width: 240px;
}
.content .man {
	width: 240px;
}
.content .price {
	width: 150px;
}
.content .tabs table {
	margin-bottom: 113px;
}
.content tr:nth-child(2n){
	background: #f0f7fc;
}
.content th {
	background: #DEE7ED;
	height: 45px;
	vertical-align: middle;
	font-family: OpenSans-Regular;
	color: #4A4A4A;
	border-left: 1px solid #D8D8D8;
	text-align: center;
}
.content td {
	text-align: center;
	vertical-align: middle;
	font-family: OpenSans-Semibold;
	color: #323233;
	height: 78px;
	border-left: 1px solid #D8D8D8;
}
.content td:first-child, .content th:first-child {
	border: none;
}
.content .head {
	overflow: hidden;
	height: 56px;
	margin-top: 39px;
	margin-bottom: 20px;
}
.content .head > div {
	float: left;
	padding-top: 18px;
	font-family: OpenSans-Semibold;
	font-size: 16px;
	line-height: 18px;
	height: 100%;
	position: relative;
	box-sizing: border-box;
}
.counter {
	float: right;
	background: #E1422C;
	height: 17px;
	width: 17px;
	display: table-cell;
	text-align: center;
	color: white;
	border-radius: 10px;
	font-size: 14px;
	margin-right: 40px;
	position: absolute;
	top: 19px;
	right: -26px;
}
.qur {
	width: 176px;
	background: #FFFFFF;
}
.fin {
	width: 176px;
}
.my {
	padding-bottom: 16px;
	display: inline-block;
	margin-left: 30px;
}
.qur span, .fin span {
	display: block;
	text-align: center;
}
.head {
	background: #f7f7f7;
}
.head .qur, .head .fin, .head .checked {
	cursor: pointer;
}
.tab-fin {
	display: none;
}
.rate {
	display: none;
}
.auction-detail div {
	float: left;
}
.auction-detail {
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	padding: 22px 10px 22px 10px;
	overflow: hidden;
	margin: 60px 10px 40px 10px;
}
.act-price {
	width: 150px;
}
.act-price .top {
	font-size: 18px;
	font-family: OpenSans-Semibold;
	color: #4a4a4a;
	margin-top: 38px;
	display: inline-block;
}
.act-price .bottom {
	font-size: 30px;
	font-family: OpenSans-Semibold;
	color: #56c457;
	margin-top: 10px;
	display: inline-block;
}
.auction-detail .line-str {
	font-size: 18px;
	font-family: OpenSans-Semibold;
	color: #888888;
}
.auction-detail .wrap span {
	float: left;
	font-size: 16px;
	font-family: OpenSans-Semibold;
}

.auction-detail .detail-time {
	color: #e1422c;
	padding-left: 8px;
}
.rate .h6 {
	display: block;
	font-size: 20px;
	font-family: OpenSans-Semibold;
	color: #4a4a4a;
	text-align: center;
	margin-bottom: 22px;
}
.dt-man {
	width: 230px;
}
.dt-date {
	width: 240px;
}
.dt-rate {
	width: 160px;
}
.dt-status {
	width: 327px;
}
.button-alt {
	width: 220px;
	font-size: 20px;
	text-align: center;
	padding: 8px 0 9px 0;
	border: none;
	font-family: OpenSans-Semibold;
	color: #FFFFFF;
	background: linear-gradient(to top, #5594D9, #5594D9);
	border-radius: 3px;
	cursor: pointer;
	margin-top: 23px;
}
.rate input[type="text"] {
	border: 1px solid #b8b8b8;
	width: 200px;
	float: left;
}
.rate .detail-bottom .container {
	float: left;
	width: 200px;
	margin-right: 20px;
}
.rate .detail-bottom span {
	font-family: OpenSans-Regular;
	font-size: 16px;
	color: #888888;
	display: block;
	padding-bottom: 7px;
}
.rate .detail-bottom form {
	width: 440px;
	margin: 0 auto;
}
.rate table {
	margin-bottom: 40px;
}
.rate .detail-bottom {
	height: 326px;
}
.form-alt {
	display: none;
}
.green {
	color: #56c457 !important;
}
.dt-delet {
	color: #e1422c !important;
	text-decoration: none;
}
.add-detail {
	font-family: OpenSans-Semibold;
	font-size: 16px;
	color: #FFFFFF;
	text-align: center;
	width: 220px;
	padding: 12px 0 12px 0;
	background: #5594d9;
	text-transform: uppercase;
	border-radius: 3px;
	float: 	right;
	margin: 40px 0px 30px 0px;
	cursor: pointer;
}
.delete-product {
	text-decoration: none;
	color: #E1422C;
	font-size: 14px;
	font-family: OpenSans-Semibold;
}
.blue {
	color: #3882d4 !important;
}
.user-data input[type="text"] {
	width: 300px;
	float: left;
}
.user-data li {
	display: block;
	width: 100%;
	margin-bottom: 20px;
	color: #888888;
	font-size: 16px;
	font-family: OpenSans-Semibold;
}
.user-data span {
	display: block;
	width: 320px;
	text-align: right;
	float: left;
	padding-right: 21px;
	padding-top: 11px;
	box-sizing: border-box;
}
.user-data .h1 {
	font-family: OpenSans-Semibold;
	font-size: 20px;
	color: #4a4a4a;
	width: 100%;
	text-align: center;
	margin: 30px auto 43px auto;
	text-transform: uppercase;
}
.button-lk {
	width: 220px;
	background: #5594d9;
	border: none;
	border-radius: 3px;
	color: white;
	text-transform: uppercase;
	font-size: 16px;
	font-family: OpenSans-Semibold;
	padding: 12px 0;
	margin: 40px auto 76px auto;
	display: block;
	text-align: center;
	cursor: pointer;
}
.lk-news {
	width: 100%;
	padding-top: 28px;
	padding-bottom: 85px;
}
.lk-news li {
	border-bottom: 1px solid #d8d8d8;
	display: block;
	margin: 20px 134px 0px 80px;
	padding-bottom: 20px;
}
.lk-news .h1 {
	color: #323233;
	font-family: OpenSans-Semibold;
	font-size: 20px;
	padding-bottom: 4px;
}
.lk-news span {
	color: #679bb7;
	font-family: OpenSans-Semibold;
	font-size: 14px;
	line-height: 16px;
	padding-bottom: 10px;
	display: block;
}
.lk-news p {
	color: #4a4a4a;
	font-family: OpenSans-Semibold;
	font-size: 16px;
}
.select-provider .h6 {
	color: #4a4a4a;
	display: block;
	width: 100%;
	text-align: center;
	font-size: 20px;
	font-family: OpenSans-Semibold;
	text-transform: uppercase;
	margin-bottom: 22px;
}
.checked {

	float: left;
	margin-right: 10px;
	border-radius: 3px;
	cursor: pointer;
}
.check-wrap {
	padding: 12px 0 12px 0;
	width: 156px;
}
.check-wrap .check-element {
	margin-bottom: 15px;
	display: block;
	width: 100%;
	position: relative;
}

.check-element > span {
	font-family: OpenSans-Semibold;
	font-size: 16px;
	color: #888888;
	float: left;
}
.manuf-wrap {
	position: absolute;
	top: -4px;
	right: 0;
}
.check-element .country {
	color: #3882d4;
	font-family: OpenSans-Semibold;
	font-size: 14px;
	margin-left: 8px;
	text-transform: uppercase;
	position: absolute;
	top: 6px;
	left: -34px;
}
.check-enable {
	background: #3498db;
	height: 18px;
	width: 18px;
}
.check-disable {
	border: 1px solid #6E6E6E;
	height: 16px;
	width: 16px;
}
.checked img {
	margin-left: 1px;
	margin-top: 1px;
}
.check-enable img {
	display: block;
}
.check-disable img {
	display: none;
}
.center {
	width: 352px;
	margin: 0 auto;
}
.manuf-list {
	position: fixed;
	top: 6px;
	right: 0;
	left: 0;
	margin: 0 auto;
	width: 900px;
	height: auto;
	background: white;
	padding: 30px 30px 10px 30px;
	box-shadow: 0px 0px 60px #cecece;
	z-index: 9999999;
}
.js-disable {
	display: none;
}
.close-button {
	width: 16px;
    height: 16px;
    background: url(../images/close-icon.png) no-repeat;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}
.choos-disable:hover {
	background: linear-gradient(to top, #5594D9, #5594D9);
	color: white;
	border
}
.choos-enable:hover {
	background: white;
	color: #5594D9;
	border: 1px solid #D8D8D8;
}
.manuf-list .select-list-element {
	width: 100px;
	float: left;
	cursor: pointer;
	margin-bottom: 15px;
	position: relative;
}
.manuf-list span {
	float: right;
	color: #3882d4;
	font-size: 16px;
	text-transform: uppercase;
	font-family: OpenSans-Semibold;
	text-decoration: underline;
	margin-right: 30px;
	margin-top: 4px;
}
.alt-link {
	position: relative;
}
.alt-link .pseudo-link {
	position: absolute;
	height: 6px;
	width: 100%;
	background: #5594D9;
	bottom: 0;
	/*transition: left 1s ease-out 0.5s*/
}
.enable-link .pseudo-link {
	display: block;
}
.disable-link .pseudo-link {
	display: none;
}
.select-container .top {
	top: 100%;
}
.select-container .bottom {
	bottom: 100%;
}
.select-list-element .hint {
	position: absolute;
	top: -22px;
	width: 100px;
	height: 35px;
	background: url(../images/hint.png) no-repeat;
	background-size: cover;
	z-index: 999;
	text-align: center;
	font-family: OpenSans-Semibold;
	padding-top: 5px;
	box-sizing: border-box;
	display: none;
}
.select-list-element:hover .hint {
	display: block;
}
.no-margin {
	margin: 0 !important;
}
.detail-counter {
	width: 14px;
	height: 14px;
	position: absolute;
	top: 6px;
	right: 16px;
	font-size: 14px;
	font-family: OpenSans-Semibold;
	color: white;
	background: #5594D9;
	border-radius: 50px;
	text-align: center;
	padding: 6px;
}
.left-column {
	border-right: 2px solid #E6E6E6;
	height: 100%;
}
.left-column, .right-column {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	float: left;
	width: 50%;
	padding: 20px 0;
	position: relative;
	/*border-bottom: 1px solid #4A4A4A;*/
}
.right-column .h4 {
	position: absolute;
	top:5px;
}
.right-column{
	padding: 0;
}
.right-column ul{
	padding-top:20px;
	background: white;
}
.list-menu .nasting .list-element, .list-menu .nasting a {
	width: 100%;
	margin-top: 8px;
	position: relative;
}
.list-element.disable {
	display: none;
}
.list-menu .nasting {
	padding-left: 20px;
}
.list-menu .nasting span {
	cursor: pointer;
}
.list-menu .nasting li, .list-menu .nasting a, .list-menu .nasting span {
	font-family: OpenSans-Semibold;
	color: #4A4A4A;
}
.right-column li {
	width: 100%;
	position: relative;
	padding: 0;
	border: none !important;
}
.right-column .text-wrap {
	width: 50%;
	padding: 0;
	float: left;
	padding-left: 20px;
}
.right-column .img-wrap {
	width: 100px;
	height: 100%;
	position: relative;
}
.right-column .img-wrap img {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0 auto 0;
	padding-left: 10px;
}
.right-column .text-wrap span {
	font-size: 16px;
}
.right-column .text-wrap p {
	font-size: 12px;
}
.right-column .choos-button {
	position: absolute;
	right: 10px;
	width: 100px;
}
.demo {
	display: none;
}
.right-column .h4 {
	width: 70%;
}
.no-padding {
	padding: 0 !important;
}
